<div class="container" role="main">

    <ol class="breadcrumb">
        <li><a ui-sref="projects">Projects</a></li>
        <li>{{project.name}}</li>
    </ol>

    <div class="projects">
        <div class="page-header">
            <!--<a href="javascript:;" title="Create New Project" ng-click="addProject()" class="button pull-right">Create Project</a>-->
            <a ui-sref="version({projectId: project.id})" title="Add new version" class="button pull-right">Import Version Data</a>
            <h1>{{project.name}}</h1>
        </div>

        <p>{{project.description}}</p>

        <div ng-if="!project.versions.length">
            <p>This project has no version yet.
            <a ui-sref="version({projectId: project.id})" title="Add new version" class="">Create your first version</a></p>
        </div>
        <div ng-if="project.versions.length">
            <p>This project has {{project.versions.length}} versions of data available:</p>
            <table class="table-heavy">
                <thead>
                    <tr>
                        <th>Version Name</th>
                        <th>Note</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="version in project.versions">
                        <td>{{version.name}}</td>
                        <td>{{version.note}}</td>
                        <td class="td-actions">
                            <a href="javascript:;" title="Delete" ng-click="deleteVersion(version)"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                            <a ui-sref="version({projectId: project.id, versionId: version.id})" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="javascript:;" ng-click="exportVersion(version)" title="Export"><i class="glyphicon glyphicon-export"></i></a>
                            <a ui-sref="drawing({projectId: project.id, versionId: version.id})" title="Go to drawing"><i class="glyphicon glyphicon-leaf"></i></a>

                            <!--<a href="javascript:;" title="Delete" ng-click="delete(project, version)"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                            <a ui-sref="projectEdit({projectId: project.id, versionId: version.id})" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="javascript:;" ng-click="exportVersion(project.id, version.id)" title="Export"><i class="glyphicon glyphicon-export"></i></a>
                            <a ui-sref="drawing({projectId: project.id, versionId: version.id})" title="Go to drawing"><i class="glyphicon glyphicon-leaf"></i></a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

