<div class="login-container">
    <div class="login-screen">
        <form class="wrapper" name="login" ng-submit="checkLogin()" autocomplete="on">
            <div class="header">
                <img src="assets/images/app.png" width="170" height="40">
            </div>
            <div class="main">
                <div class="login-message" ng-if="message.length">{{message}}</div>

                <div class="field">
                    <label for="email">Username</label>
                    <input type="text" id="email" name="email" ng-model="user.email" placeholder="Email" autofocus="true"/>
                </div>

                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" ng-model="user.password" placeholder="Password"/>
                </div>

                <button type="submit" name="submit" ng-disabled="!user.email || !user.password" class="button">Login</button>
            </div>
            <div class="footer">
                <img src="assets/images/company.png" width="182" height="24">
            </div>
        </form>
    </div>
</div>
