<div class="container">
    <div class="header">
        <ul class="main-nav clearfix">
            <li class="company pull-right">
                <img src="assets/images/company_grey.png" width="158" height="14">
            </li>
            <li ui-sref-active="selected"><a ui-sref="projects">Projects</a></li>
            <li ui-sref-active="selected"><a ui-sref="users">Users</a></li>
        </ul>
        <div class="logo-section">
            <div class="pull-right" ng-if="auth.token" ng-click="toggleDropdown(true)" tabindex="0">
                <a href="javascript:;" ng-blur="toggleDropdown(false)">
                    Welcome {{auth.name}} <i class="glyphicon glyphicon-arrow-down"></i>
                </a>
                <ul class="dropdown" ng-if="isDropdownOpen">
                    <li><a ui-sref="logout">Logout</a></li>
                </ul>
            </div>
            <img class="app-logo" src="assets/images/app_logo.png" width="29" height="28">
            <span class="page-title">{{pageTitle || "Stacker"}}</span>
        </div>
    </div>
</div>