@import "variables.less";

html {
    font-family: Frutiger, 'Open Sans', sans-serif, arial;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #000;
    margin: 0;
    overflow-y: auto;
    min-width: 767px;
    min-height: 100vh;
    background: #f3f3f3;
    font-family: Frutiger, 'Roboto Condensed', sans-serif, arial;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.42857;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #595959;
}

p {
    margin: 0 0 10px;
}

img {
    vertical-align: middle;
    border: 0 none;
}

a {
    color: #fff;
    text-decoration: none;

    &:hover, &:focus {
        color: #fff;
        text-decoration: none;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: 0;
    outline: thin dotted \9;
}

.container {
    padding: 0 30px;
    position: relative;
    /*
    margin: 0 auto;
    max-width: 1400px;
    */
}