.building {
    overflow-x: hidden;
    margin-top: 30px;

    .floor {
        height: 32px;
        margin-bottom: 3px;
        border: 1px solid #000;
        position: relative;
        padding: 0;

        .floor-units {
            width: 1000px;
        }

        .unit {
            float: left;
            height: 30px;

            &.void {

            }
            + .unit {
                border-left: 1px solid #999;
            }
        }
    }
}