/*
.container .button {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 24px;
    border: 1px solid #38678f;
    background: steelblue;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
    transition: all 0.1s;

    &:hover {
        background: #4f8aba;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 15px rgba(255, 255, 255, 0.1);
    }
    &:active {
        color: #294d6b;
        background: #427aa9;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
    &:focus {
        outline: none;
    }

    & + .button {
        margin-left: 15px;
    }
}

.section-header .button {
    height: 36px;
    line-height: 36px;
    margin-top: 13px;

    &:hover {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    & + .button {
        margin-left: 3px;
    }
}
*/
