.field {
    padding: 0 0 30px;
}
label {
    color: #b9b9b9;
    font-size: 15px;
}

input, textarea, select {
    border: 0 none;
    border-bottom: 1px solid #bdbdbd;
    padding: 5px 0;
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    color: #000;
    font-size: 14px;

    &:focus {
        box-shadow: none;
    }
    &::-moz-placeholder {
        color: #bbb;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: #bbb;
    }
    &::-webkit-input-placeholder {
        color: #bbb;
    }

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.button {
    background: #ff7211;
    border: 0 none;
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    cursor: pointer;

    &:disabled {
        background-color: #aaa;
        cursor: not-allowed;
    }
}
select{
    color: #000;
}
textarea{
    min-height: 70px;
}