header {
    background: @dark-bg;
    color: #fff;
    z-index: 1;
    position: relative;

    .main-nav {
        font-size: 15px;
        color: #E9E9E9;
        padding: 0 0 10px;
        margin: 0;
        list-style: none;

        > li {
            list-style: none;
            display: inline-block;
            float: left;
            position: relative;
        }

        a {
            color: #a0a0a0;
            text-decoration: none;
            padding: 20px;
            display: inline-block;

            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
            }
        }
        .selected a {
            color: #fff;
        }
        .dropdown {
            position: absolute;
            top: 100%;
            right: 0;
            width: 100%;
            border: 1px solid #38678f;
            background: steelblue;
            box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5), inset 0 1px 3px rgba(255, 255, 255, 0.2);
            padding: 0;

            li {
                display: block;
            }

            a {
                display: block;
            }
        }
        .company {
            padding: 20px 0;
            float: right;
        }
    }

    .logo-section {
        padding-bottom: 35px;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
        }
        a:hover, a:focus {
            color: #fff;
            text-decoration: none;
        }
        .app-logo {
            margin-right: 15px;
            vertical-align: top;
        }
        .page-title {
            font-size: 30px;
            line-height: 30px;
            vertical-align: top;
        }
    }
    .sub-nav {
        font-size: 15px;
        color: #E9E9E9;
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            list-style: none;
            display: inline-block;
            float: left;
            position: relative;
        }

        a {
            color: #a0a0a0;
            text-decoration: none;
            padding: 20px 20px 18px;
            display: inline-block;
            border-bottom: 3px solid transparent;

            &:hover, &:focus {
                color: #fff;
            }
            &[disabled]:hover, &[disabled]:focus{
                color: #a0a0a0;
                text-decoration: none;
            }

        }
        .selected a {
            border-bottom: 3px solid #ff7211;
        }
        img {
            padding: 15px 0;
            height: 60px;
        }
    }
}