.login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: @dark-bg;
}

.login-screen {
    position: absolute;
    background: #f3f3f3;
    width: 90%;
    max-width: 488px;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 40px 25px;

    .wrapper {

        .header, .main, .footer {

        }

        .header {
            padding: 60px 0;
            text-align: center;
        }
        /*.field {
            padding: 0 0 30px;
        }
        label {
            color: #b9b9b9;
        }*/
        .main {
            .title {
                text-transform: uppercase;
                margin-bottom: 30px;
                font-weight: bold;
            }
            .login-message {
                padding: 10px;
                display: block;
                width: 100%;
                text-align: center;
                color: orange;
                margin-bottom: 15px;
            }
            /*input {
                border: 0 none;
                border-bottom: 1px solid #bdbdbd;
                padding: 5px 0;
                display: block;
                width: 100%;
                text-align: left;
                background: transparent;

                &:focus {
                    box-shadow: none;
                }
                &::-moz-placeholder {
                    color: #bbb;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #bbb;
                }
                &::-webkit-input-placeholder {
                    color: #bbb;
                }

            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
            }
            button {
                background: #ff7211;
                border: 0 none;
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 20px;
                text-transform: uppercase;
                color: #fff;

                &:disabled {
                    background-color: #aaa;
                }
            }*/
        }
        .footer {
            margin-top: 35px;
            text-align: center;
        }
    }
}