/*a[ ng-click ] {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}*/

.bn-modals {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

}

.bn-modals.ng-hide {
    background-color: rgba(0, 0, 0, 0);
}

.bn-modals.ng-hide-add.ng-hide-add-active,
.bn-modals.ng-hide-remove.ng-hide-remove-active {
    transition: 250ms ease all;
}

.bn-modals > .bn-modal {
    z-index: 11;
    position: fixed;
    top: 20px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    background: rgba(40, 40, 40, 0.9);
    color: #ccc;
    font-size: 12px;

    &.double {
        width: 700px;
        margin-left: -350px;

        .half {
            width: 48%;

            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }
    }

    .modal-head {
        border-bottom: 1px solid #999;
        padding: 5px 10px;

        > img {
            margin-right: 15px;
        }
        a img {
            padding: 5px;
        }
        .prompt-title {
            font-size: 18px;
            font-weight: bold;
            vertical-align: middle;
        }
    }
    .modal-body {
        padding: 30px 15px;
        font-size: 14px;
        text-align: center;
    }
    form {
        .modal-body {
            text-align: left;
        }
        label {
            font-weight: normal;
        }
        input[type=text], textarea, select {
            background: transparent;
            border: 1px solid #ccc;
            color: #ccc;
            font-size: 12px;
            text-align: left;
            padding: 3px;
            display: block;
            width: 100%;
            resize: none;
            border-radius: 0;
        }
        textarea {
            height: 60px;
        }
        .input-group-addon {
            background: rgba(150, 150, 150, .8);
            color: #eee;
        }
    }
    .select-list {
        max-height: 219px;
        background: transparent;
        border: 1px solid #ccc;
        color: #ccc;
        font-size: 12px;
        overflow: auto;

        .item {
            padding: 6px 30px 6px 6px;
            border-bottom: 1px solid #555;
            cursor: pointer;

            .glyphicon-ok {
                display: none;
                margin-right: -20px;
            }

            &.selected {
                background: rgba(255, 255, 255, .1);
                .glyphicon-ok {
                    display: inline-block;
                }
            }
        }
    }
}

.bn-modals.ng-hide > .bn-modal.ng-enter {
    top: -200px;
    transition: 250ms ease top;
}

.bn-modals.ng-hide > .bn-modal.ng-enter.ng-enter-active {
    top: 200px;
}

a.jump {
    color: #999999;
}

a.jump:hover {
    background-color: gold;
    color: #000000;
}