.table tbody tr td.td-actions {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    width: 125px;
    white-space: nowrap;

    a {
        font-size: 16px;
        padding: 2px 3px;
        display: inline-block;

    }
}

.projects, .users {
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
        margin-top: 0;
    }
}
.section-header{
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 10px;

    a{
        color: #bdbdbd;
        text-decoration: none;
        margin-right: 8px;

        &:hover, &:focus {
            color: #999;
        }
    }

}
/*
.panel-building {
    position: relative;

    .table {
        width: 63%;
        border-right: 1px solid #ccc;
    }
    .building {
        position: absolute;
        left: 66%;
        right: 15px;
        bottom: 0;
    }
}*/
