.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #3d3d3d;
}
.login-screen {
  position: absolute;
  background: #f3f3f3;
  width: 90%;
  max-width: 488px;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 60px 40px 25px;
}
.login-screen .wrapper {
  /*.field {
            padding: 0 0 30px;
        }
        label {
            color: #b9b9b9;
        }*/
}
.login-screen .wrapper .header {
  padding: 60px 0;
  text-align: center;
}
.login-screen .wrapper .main {
  /*input {
                border: 0 none;
                border-bottom: 1px solid #bdbdbd;
                padding: 5px 0;
                display: block;
                width: 100%;
                text-align: left;
                background: transparent;

                &:focus {
                    box-shadow: none;
                }
                &::-moz-placeholder {
                    color: #bbb;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: #bbb;
                }
                &::-webkit-input-placeholder {
                    color: #bbb;
                }

            }
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
            }
            button {
                background: #ff7211;
                border: 0 none;
                margin-top: 5px;
                display: block;
                width: 100%;
                padding: 20px;
                text-transform: uppercase;
                color: #fff;

                &:disabled {
                    background-color: #aaa;
                }
            }*/
}
.login-screen .wrapper .main .title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}
.login-screen .wrapper .main .login-message {
  padding: 10px;
  display: block;
  width: 100%;
  text-align: center;
  color: orange;
  margin-bottom: 15px;
}
.login-screen .wrapper .footer {
  margin-top: 35px;
  text-align: center;
}
html {
  font-family: Frutiger, 'Open Sans', sans-serif, arial;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  color: #000;
  margin: 0;
  overflow-y: auto;
  min-width: 767px;
  min-height: 100vh;
  background: #f3f3f3;
  font-family: Frutiger, 'Roboto Condensed', sans-serif, arial;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.42857;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #595959;
}
p {
  margin: 0 0 10px;
}
img {
  vertical-align: middle;
  border: 0 none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  outline: 0;
  outline: thin dotted \9;
}
.container {
  padding: 0 30px;
  position: relative;
  /*
    margin: 0 auto;
    max-width: 1400px;
    */
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-primary {
  color: #fff;
  background-color: #176019;
  border-color: #4CAF50;
  font-size: inherit;
  font-weight: bold;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #4CAF50;
  border-color: #176019;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
/*********************************/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.smaller {
  font-size: .8em;
}
.bigger {
  font-size: 1.2em;
}
.mirrored {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.well {
  background: #fff;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.ns-popover-list-theme {
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  border-radius: 3px;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}
.ns-popover-list-theme ul,
.ns-popover-list-theme .list {
  padding: 0;
  margin: 0.625rem 0;
  display: block;
}
.ns-popover-list-theme li,
.ns-popover-list-theme .list-item {
  list-style-type: none;
}
.ns-popover-list-theme li a,
.ns-popover-list-theme .list-item a {
  padding: 0.1875rem 0.625rem;
  display: block;
}
.ns-popover-list-theme li a:hover,
.ns-popover-list-theme .list-item a:hover {
  background-color: #f5f5f5;
}
.ns-popover-tooltip-theme {
  box-sizing: border-box;
  z-index: 100;
  background-color: transparent;
}
.ns-popover-tooltip-theme .ns-popover-tooltip {
  box-sizing: border-box;
  border: solid 1px #d2d2d2;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 0.5625rem 0.875rem;
  max-width: 20rem;
  font-size: 0.875rem;
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.ns-popover-tooltip-theme .ns-popover-tooltip ul {
  padding: 0;
  margin: 0.625rem 0;
  display: block;
}
.ns-popover-tooltip-theme .ns-popover-tooltip li {
  list-style-type: none;
}
.ns-popover-tooltip-theme .ns-popover-tooltip li a {
  padding: 0.1875rem 0.625rem;
  display: block;
}
.ns-popover-tooltip-theme .ns-popover-tooltip li a:hover {
  background-color: #f5f5f5;
}
.ns-popover-tooltip-theme.ns-popover-bottom-placement .triangle {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 11px;
  border-color: transparent;
  position: absolute;
  border-bottom-color: #d2d2d2;
  left: 50%;
  top: -11px;
  margin-left: -11px;
}
.ns-popover-tooltip-theme.ns-popover-bottom-placement .triangle:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: solid 10px;
  border-color: transparent;
  position: absolute;
}
.ns-popover-tooltip-theme.ns-popover-bottom-placement .triangle:after {
  border-bottom-color: #ffffff;
  border-top-width: 0;
  top: 1px;
  margin-left: -10px;
}
.ns-popover-tooltip-theme.ns-popover-top-placement .triangle {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 11px;
  border-color: transparent;
  position: absolute;
  border-top-color: #d2d2d2;
  left: 50%;
  bottom: -11px;
  margin-left: -11px;
}
.ns-popover-tooltip-theme.ns-popover-top-placement .triangle:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: solid 10px;
  border-color: transparent;
  position: absolute;
}
.ns-popover-tooltip-theme.ns-popover-top-placement .triangle:after {
  border-top-color: #ffffff;
  border-bottom-width: 0;
  bottom: 1px;
  margin-left: -10px;
}
.ns-popover-tooltip-theme.ns-popover-right-placement .triangle {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 11px;
  border-color: transparent;
  position: absolute;
  border-right-color: #d2d2d2;
  top: 50%;
  left: -11px;
  margin-top: -11px;
}
.ns-popover-tooltip-theme.ns-popover-right-placement .triangle:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: solid 10px;
  border-color: transparent;
  position: absolute;
}
.ns-popover-tooltip-theme.ns-popover-right-placement .triangle:after {
  border-right-color: #ffffff;
  border-left-width: 0;
  left: 1px;
  bottom: -10px;
}
.ns-popover-tooltip-theme.ns-popover-left-placement .triangle {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 11px;
  border-color: transparent;
  position: absolute;
  border-left-color: #d2d2d2;
  top: 50%;
  right: -11px;
  margin-top: -11px;
}
.ns-popover-tooltip-theme.ns-popover-left-placement .triangle:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: solid 10px;
  border-color: transparent;
  position: absolute;
}
.ns-popover-tooltip-theme.ns-popover-left-placement .triangle:after {
  border-left-color: #ffffff;
  border-right-width: 0;
  right: 1px;
  bottom: -10px;
}
.ns-popover-tooltip-theme.ns-popover-left-align .ns-popover-tooltip {
  margin-left: 0;
}
.ns-popover-tooltip-theme.ns-popover-right-align .ns-popover-tooltip {
  margin-right: 0;
}
.ns-popover-tooltip-theme.ns-popover-top-align .ns-popover-tooltip {
  margin-top: 0;
}
.ns-popover-tooltip-theme.ns-popover-bottom-align .ns-popover-tooltip {
  margin-bottom: 0;
}
/*a[ ng-click ] {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}*/
.bn-modals {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
.bn-modals.ng-hide {
  background-color: rgba(0, 0, 0, 0);
}
.bn-modals.ng-hide-add.ng-hide-add-active,
.bn-modals.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 250ms ease all;
          transition: 250ms ease all;
}
.bn-modals > .bn-modal {
  z-index: 11;
  position: fixed;
  top: 20px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  background: rgba(40, 40, 40, 0.9);
  color: #ccc;
  font-size: 12px;
}
.bn-modals > .bn-modal.double {
  width: 700px;
  margin-left: -350px;
}
.bn-modals > .bn-modal.double .half {
  width: 48%;
}
.bn-modals > .bn-modal.double .half.left {
  float: left;
}
.bn-modals > .bn-modal.double .half.right {
  float: right;
}
.bn-modals > .bn-modal .modal-head {
  border-bottom: 1px solid #999;
  padding: 5px 10px;
}
.bn-modals > .bn-modal .modal-head > img {
  margin-right: 15px;
}
.bn-modals > .bn-modal .modal-head a img {
  padding: 5px;
}
.bn-modals > .bn-modal .modal-head .prompt-title {
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}
.bn-modals > .bn-modal .modal-body {
  padding: 30px 15px;
  font-size: 14px;
  text-align: center;
}
.bn-modals > .bn-modal form .modal-body {
  text-align: left;
}
.bn-modals > .bn-modal form label {
  font-weight: normal;
}
.bn-modals > .bn-modal form input[type=text],
.bn-modals > .bn-modal form textarea,
.bn-modals > .bn-modal form select {
  background: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 12px;
  text-align: left;
  padding: 3px;
  display: block;
  width: 100%;
  resize: none;
  border-radius: 0;
}
.bn-modals > .bn-modal form textarea {
  height: 60px;
}
.bn-modals > .bn-modal form .input-group-addon {
  background: rgba(150, 150, 150, 0.8);
  color: #eee;
}
.bn-modals > .bn-modal .select-list {
  max-height: 219px;
  background: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  font-size: 12px;
  overflow: auto;
}
.bn-modals > .bn-modal .select-list .item {
  padding: 6px 30px 6px 6px;
  border-bottom: 1px solid #555;
  cursor: pointer;
}
.bn-modals > .bn-modal .select-list .item .glyphicon-ok {
  display: none;
  margin-right: -20px;
}
.bn-modals > .bn-modal .select-list .item.selected {
  background: rgba(255, 255, 255, 0.1);
}
.bn-modals > .bn-modal .select-list .item.selected .glyphicon-ok {
  display: inline-block;
}
.bn-modals.ng-hide > .bn-modal.ng-enter {
  top: -200px;
  -webkit-transition: 250ms ease top;
          transition: 250ms ease top;
}
.bn-modals.ng-hide > .bn-modal.ng-enter.ng-enter-active {
  top: 200px;
}
a.jump {
  color: #999999;
}
a.jump:hover {
  background-color: gold;
  color: #000000;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}
/*! perfect-scrollbar - v0.4.11
* http://noraesae.github.com/perfect-scrollbar/
* Copyright (c) 2014 Hyeonje Alex Jun; Licensed MIT */
.ps-container .ps-scrollbar-x-rail {
  position: absolute;
  bottom: 3px;
  height: 8px;
  border-radius: 4px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
}
.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
  opacity: .6;
  filter: alpha(opacity=60);
}
.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
  background-color: #eee;
  opacity: .9;
  filter: alpha(opacity=90);
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
  background-color: #eee;
  opacity: .9;
  filter: alpha(opacity=90);
}
.ps-container .ps-scrollbar-y-rail {
  position: absolute;
  right: 3px;
  width: 8px;
  border-radius: 4px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
}
.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
  opacity: .6;
  filter: alpha(opacity=60);
}
.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
  background-color: #eee;
  opacity: .9;
  filter: alpha(opacity=90);
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
  background-color: #eee;
  opacity: .9;
  filter: alpha(opacity=90);
}
.ps-container .ps-scrollbar-x {
  position: absolute;
  bottom: 0;
  height: 8px;
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.ps-container.ie6 .ps-scrollbar-x {
  font-size: 0;
}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
  background-color: #999999;
}
.ps-container .ps-scrollbar-y {
  position: absolute;
  right: 0;
  width: 8px;
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.ps-container.ie6 .ps-scrollbar-y {
  font-size: 0;
}
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
  background-color: #999999;
}
.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
  visibility: hidden;
}
.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
  visibility: visible;
}
/* line 2, slider.scss */
slider,
[slider] {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
/* line 10, slider.scss */
slider div,
[slider] div {
  white-space: nowrap;
  position: absolute;
}
/* line 14, slider.scss */
slider div.bar,
[slider] div.bar {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: #444;
  overflow: hidden;
}
/* line 21, slider.scss */
slider div.bar .selection,
[slider] div.bar .selection {
  width: 0%;
  height: 100%;
  background: #13b6ff;
}
/* line 28, slider.scss */
slider div.handle,
[slider] div.handle {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: -8px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 2;
  border-radius: 100%;
}
/* line 38, slider.scss */
slider div.handle:after,
[slider] div.handle:after {
  content: '';
  background-color: #777;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
}
/* line 48, slider.scss */
slider div.handle:after:hover,
[slider] div.handle:after:hover {
  background-color: #000;
}
/* line 53, slider.scss */
slider div.handle.active:after,
[slider] div.handle.active:after {
  background-color: #f00;
}
/* line 58, slider.scss */
slider div.bubble,
[slider] div.bubble {
  display: none;
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
/* line 66, slider.scss */
slider div.bubble.active,
[slider] div.bubble.active {
  display: inline-block;
}
/* line 70, slider.scss */
slider div.bubble.limit,
[slider] div.bubble.limit {
  color: #777;
}
header {
  background: #3d3d3d;
  color: #fff;
  z-index: 1;
  position: relative;
}
header .main-nav {
  font-size: 15px;
  color: #E9E9E9;
  padding: 0 0 10px;
  margin: 0;
  list-style: none;
}
header .main-nav > li {
  list-style: none;
  display: inline-block;
  float: left;
  position: relative;
}
header .main-nav a {
  color: #a0a0a0;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
header .main-nav a:hover,
header .main-nav a:focus {
  color: #fff;
  text-decoration: none;
}
header .main-nav .selected a {
  color: #fff;
}
header .main-nav .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border: 1px solid #38678f;
  background: steelblue;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5), inset 0 1px 3px rgba(255, 255, 255, 0.2);
  padding: 0;
}
header .main-nav .dropdown li {
  display: block;
}
header .main-nav .dropdown a {
  display: block;
}
header .main-nav .company {
  padding: 20px 0;
  float: right;
}
header .logo-section {
  padding-bottom: 35px;
}
header .logo-section a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
header .logo-section a:hover,
header .logo-section a:focus {
  color: #fff;
  text-decoration: none;
}
header .logo-section .app-logo {
  margin-right: 15px;
  vertical-align: top;
}
header .logo-section .page-title {
  font-size: 30px;
  line-height: 30px;
  vertical-align: top;
}
header .sub-nav {
  font-size: 15px;
  color: #E9E9E9;
  padding: 0;
  margin: 0;
  list-style: none;
}
header .sub-nav > li {
  list-style: none;
  display: inline-block;
  float: left;
  position: relative;
}
header .sub-nav a {
  color: #a0a0a0;
  text-decoration: none;
  padding: 20px 20px 18px;
  display: inline-block;
  border-bottom: 3px solid transparent;
}
header .sub-nav a:hover,
header .sub-nav a:focus {
  color: #fff;
}
header .sub-nav a[disabled]:hover,
header .sub-nav a[disabled]:focus {
  color: #a0a0a0;
  text-decoration: none;
}
header .sub-nav .selected a {
  border-bottom: 3px solid #ff7211;
}
header .sub-nav img {
  padding: 15px 0;
  height: 60px;
}
.table tbody tr td.td-actions {
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 125px;
  white-space: nowrap;
}
.table tbody tr td.td-actions a {
  font-size: 16px;
  padding: 2px 3px;
  display: inline-block;
}
.projects,
.users {
  font-size: 13px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.projects h1,
.users h1 {
  margin-top: 0;
}
.section-header {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 10px;
}
.section-header a {
  color: #bdbdbd;
  text-decoration: none;
  margin-right: 8px;
}
.section-header a:hover,
.section-header a:focus {
  color: #999;
}
/*
.panel-building {
    position: relative;

    .table {
        width: 63%;
        border-right: 1px solid #ccc;
    }
    .building {
        position: absolute;
        left: 66%;
        right: 15px;
        bottom: 0;
    }
}*/
.building {
  overflow-x: hidden;
  margin-top: 30px;
}
.building .floor {
  height: 32px;
  margin-bottom: 3px;
  border: 1px solid #000;
  position: relative;
  padding: 0;
}
.building .floor .floor-units {
  width: 1000px;
}
.building .floor .unit {
  float: left;
  height: 30px;
}
.building .floor .unit + .unit {
  border-left: 1px solid #999;
}
.table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0;
  font-size: 15px;
  color: #595959;
  line-height: 1.5;
}
.table .tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #e1e1e1;
  margin-bottom: 10px;
  border-radius: 6px;
}
.table .tr > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  padding: 15px;
}
.table .tr a {
  color: #595959;
  font-weight: bold;
}
.table .tr .td-actions {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 150px;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}
.table .thead .tr {
  background: transparent;
  color: #b9b9b9;
}
.table .td-actions a {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 5px;
}
.table .tfoot .tr {
  background: transparent;
  font-weight: 400;
}
table.table-heavy {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #38678f;
  margin: 0 auto;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  -webkit-animation: float 5s infinite;
          animation: float 5s infinite;
}
table.table-heavy th {
  background: steelblue;
  height: 54px;
  font-weight: lighter;
  text-shadow: 0 1px 0 #38678f;
  color: white;
  border: 1px solid #38678f;
  box-shadow: inset 0 1px 2px #568ebd;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}
table.table-heavy tr {
  border-bottom: 1px solid #cccccc;
}
table.table-heavy tr:last-child {
  border-bottom: 0;
}
table.table-heavy td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
  height: 54px;
}
table.table-heavy td:last-child {
  border-right: 0;
}
table.table-heavy td.selected {
  background: #d7e4ef;
}
table.table-heavy td input {
  font-size: 14px;
  background: none;
  outline: none;
  border: 0;
  display: table-cell;
  height: 100%;
  width: 100%;
}
table.table-heavy td input:focus {
  box-shadow: 0 1px 0 steelblue;
  color: steelblue;
}
table.table-heavy .td-actions {
  width: 130px;
  text-align: center;
  white-space: nowrap;
}
table.table-heavy .td-actions a {
  display: inline-block;
  width: 28px;
  padding: 5px 5px;
  height: 28px;
  text-align: center;
  border-radius: 4px;
  background-color: rgba(70, 130, 180, 0.3);
  border: 1px solid rgba(70, 130, 180, 0.3);
  color: #3D6790;
}
table.table-heavy .td-actions a:hover {
  background-color: rgba(70, 130, 180, 0.5);
}
.field {
  padding: 0 0 30px;
}
label {
  color: #b9b9b9;
  font-size: 15px;
}
input,
textarea,
select {
  border: 0 none;
  border-bottom: 1px solid #bdbdbd;
  padding: 5px 0;
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
  color: #000;
  font-size: 14px;
}
input:focus,
textarea:focus,
select:focus {
  box-shadow: none;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #bbb;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #bbb;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
          transition: background-color 5000s ease-in-out 0s;
}
.button {
  background: #ff7211;
  border: 0 none;
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
select {
  color: #000;
}
textarea {
  min-height: 70px;
}
/*
.container .button {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border-radius: 24px;
    border: 1px solid #38678f;
    background: steelblue;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.2);
    transition: all 0.1s;

    &:hover {
        background: #4f8aba;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 15px rgba(255, 255, 255, 0.1);
    }
    &:active {
        color: #294d6b;
        background: #427aa9;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
    &:focus {
        outline: none;
    }

    & + .button {
        margin-left: 15px;
    }
}

.section-header .button {
    height: 36px;
    line-height: 36px;
    margin-top: 13px;

    &:hover {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.1);
    }
    & + .button {
        margin-left: 3px;
    }
}
*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.alert .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.alert .close:hover,
.alert .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.alert button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.floated-action {
  background: #ff7211;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 135px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  z-index: 2;
}
.floated-action:hover {
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}
.page-header {
  border: 0;
}
.scroller {
  white-space: pre-line;
  overflow-y: hidden;
  position: relative;
}
.loading {
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}
.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.unit {
  height: 53px;
  border: 0;
  background: -webkit-linear-gradient(#cccccc, #aaaaaa, #cccccc);
  background: linear-gradient(#cccccc, #aaaaaa, #cccccc);
  line-height: 30px;
  display: block;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  position: relative;
  overflow: hidden;
  /*width: 100%;*/
}
.unit.preview {
  cursor: default;
  height: 40px;
  width: 100%;
}
.unit .code {
  position: absolute;
  top: 23px;
  left: 50%;
  font-size: 16px;
  background: rgba(61, 61, 61, 0.5);
  padding: 0 10px;
  line-height: 23px;
  height: 23px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  border-radius: 12px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.unit .measurement {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  background: #3d3d3d;
  padding: 0 5px;
  line-height: 16px;
  height: 16px;
  color: #a0a0a0;
  font-style: italic;
  font-weight: 400;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.unit .overhanging-overlay {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /*transition: .3s width ease-in;*/
  background: -webkit-repeating-linear-gradient(45deg, #999999, #999999 5px, #ffffff 5px, #ffffff 10px);
  background: repeating-linear-gradient(45deg, #999999, #999999 5px, #ffffff 5px, #ffffff 10px);
  /*background: repeating-linear-gradient(45deg, #999, #999 5px, #fff 5px, #fff 10px);*/
  opacity: .4;
}
.unit-void {
  cursor: default;
  z-index: 0;
  background: #bfbfbf;
}
.unit-core {
  cursor: default;
  z-index: 0;
  background: #7f7f7f;
}
.drawing-canvas {
  position: relative;
  background: #f3f3f3;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 62px;
  margin-top: -62px;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.drawing-canvas .drawing-canvas-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.drawing-canvas .drawing-canvas-footer {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #3d3d3d;
  color: #fff;
  position: relative;
}
.drawing-canvas .drawing-canvas-footer.hidden {
  height: 0;
}
.drawing-canvas .drawing-canvas-footer .switch {
  background: inherit;
  position: absolute;
  bottom: 100%;
  width: 50px;
  right: 30px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
}
.drawing-canvas .drawing-canvas-footer .project-name {
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  overflow: hidden;
}
.drawing-canvas .drawing-canvas-footer .unit-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 15px;
  padding: 0 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}
.drawing-canvas .drawing-canvas-footer .tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
  width: 320px;
  overflow: hidden;
}
.drawing-canvas .drawing-canvas-footer .tools .action {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0px;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  /*&:hover {
                    background: rgba(0,0,0,.5);
                }*/
}
.drawing-canvas .drawing-canvas-footer .tools .action.disabled {
  cursor: not-allowed;
  opacity: .5;
}
.drawing-canvas .drawing-canvas-footer .tools .action.disabled:hover {
  background: transparent;
}
.drawing-canvas .drawing-canvas-footer .tools .nav {
  -webkit-box-flex: 1.5;
  -webkit-flex-grow: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}
.drawing-canvas .drawing-canvas-footer .tools .nav:hover,
.drawing-canvas .drawing-canvas-footer .tools .nav.active {
  background: #999 none repeat scroll 0 0;
  border-radius: 0 10px 10px 0;
  width: 60px;
}
.drawing-canvas .drawing-canvas-footer .tools .actions-container {
  position: fixed;
  bottom: 60px;
  right: 0;
  width: 140px;
  height: 350px;
  background: #3d3d3d;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 2;
}
.drawing-canvas .drawing-canvas-footer .tools .actions-container .action {
  height: 50px;
  width: 100%;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px;
  font-size: 14px;
}
.drawing-canvas .drawing-canvas-footer .tools .actions-container .action img {
  margin-right: 10px;
}
.drawing-canvas .drawing-canvas-footer .tools select {
  font-size: 16px;
  background-color: white;
  width: 70px;
  margin-right: 10px;
}
.drawing-canvas .org-units-container {
  position: relative;
  background: #2e3841;
  width: 264px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.drawing-canvas .org-units-container .org-units {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.drawing-canvas .org-units-container .org-units .unit {
  margin-bottom: 4px;
  display: block;
  text-align: left;
  width: 264px !important;
}
.drawing-canvas .org-units-container .org-units .unit .extra {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #737f8a;
}
.drawing-canvas .org-units-container .org-units .unit .extra.arrow {
  bottom: 2px;
  right: 2px;
  top: auto;
  left: auto;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 0px solid transparent;
  border-right: 14px solid #ff7211;
  background: transparent;
}
.building-layout {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: auto;
  padding: 30px;
}
.building-layout .drawing-table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}
.building-layout .tr {
  height: 36px;
  display: table-row;
  width: 100%;
}
.building-layout .td,
.building-layout .th {
  display: table-cell;
  vertical-align: middle;
}
.building-layout .th {
  font-weight: 400;
  color: #262626;
}
.building-layout .td {
  /*background: #e9e9e9;
        border: 1px solid #d7d7d7;*/
}
.building-layout .area-label {
  text-align: right;
  font-size: 12px;
  border-right: 0;
  padding: 5px;
}
.building-layout .area-label div {
  width: 100px;
}
.building-layout .td.area-label {
  background: #f5f5f5;
  box-shadow: 1px 0 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7;
}
.building-layout .floor-label {
  padding: 5px;
  font-size: 12px;
  border-left: 0;
  text-align: center;
}
.building-layout .floor-label div {
  width: 50px;
}
.building-layout .td.floor-label {
  background: #f5f5f5;
  box-shadow: -1px 0 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7;
}
.building-layout .building-label {
  text-align: center;
  font-size: 16px;
  color: #3d3d3d;
}
.building-layout .building-label a,
.building-layout .building-label a:focus,
.building-layout .building-label a:active,
.building-layout .building-label a:hover {
  color: #ff7211;
  padding: 0 5px;
}
.building-layout .floor {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.building-layout .floor-space {
  /*border: 1px solid #333;*/
  position: relative;
  height: 54px;
  background: #e9e9e9;
  box-shadow: -1px 0 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7 inset;
}
.building-layout .floor-space.drag-over {
  /*box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;*/
}
.building-layout .floor-space:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 1px solid #d7d7d7;
  content: "";
  height: 1px;
}
.building-layout .unit-container {
  height: 54px;
}
.building-layout .unit {
  float: left;
  box-shadow: 0 0 0 1px #000;
}
.building-snapshot .building-layout {
  padding: 30px 0;
}
.building-snapshot .building-layout .tr {
  height: 30px;
}
.building-snapshot .building-layout .floor-space {
  height: 30px;
}
.building-snapshot .building-layout .area-label,
.building-snapshot .building-layout .floor-label {
  /*font-size: 12px;*/
}
.building-snapshot .building-layout .area-label div {
  width: auto;
}
.building-snapshot .building-layout .unit-container {
  height: 30px;
}
.building-snapshot .building-layout .unit {
  height: 29px;
}
.action-popover {
  padding: 0 0 10px 0;
  background: transparent;
}
.action-popover.ns-popover-left-align .triangle {
  left: 50% !important;
}
.action-popover.ns-popover-tooltip-theme.ns-popover-top-placement .triangle {
  border-top-color: transparent;
  bottom: -12px;
}
.action-popover.ns-popover-tooltip-theme.ns-popover-top-placement .triangle:after {
  border-top-color: rgba(0, 0, 0, 0.7);
}
.action-popover ul {
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.action-popover ul li {
  list-style: none;
  display: inline-block;
}
.action-popover ul li.over-hanging {
  border-left: 1px dotted #777;
}
.action-popover ul li a,
.action-popover ul li a:hover,
.action-popover ul li a:active {
  padding: 7px;
  color: #fff;
  display: inline-block;
}
.action-popover ul li a[disabled] {
  opacity: .3;
  cursor: not-allowed;
}
.custom-overlay {
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.merge-overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
.merge-overlay .close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.unit-modal {
  z-index: 4;
  position: fixed;
  top: 20px;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  background: rgba(40, 40, 40, 0.9);
  color: #ccc;
  font-size: 12px;
}
.unit-modal .modal-head {
  padding: 5px 10px;
}
.unit-modal .modal-head a img {
  padding: 5px;
}
.unit-modal .modal-body {
  padding: 10px 30px;
}
.unit-modal table {
  width: 100%;
  border: 0;
}
.unit-modal th {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border-bottom: 2px solid #fafafa;
  color: #fafafa;
  text-transform: uppercase;
}
.unit-modal td {
  border: 0;
  padding: 3px 5px;
  text-align: center;
}
.unit-modal td:nth-child(1) {
  width: 100px;
  text-align: left;
}
.unit-modal td .unit {
  width: 100% !important;
  margin-bottom: 10px;
}
.unit-modal input {
  background: transparent;
  border: 1px solid transparent;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  padding: 3px;
  display: block;
  width: 100%;
}
.unit-modal input.small {
  width: 80px;
  display: inline-block;
}
.unit-modal input.font {
  width: 40px;
  display: inline-block;
}
.unit-modal .disabled,
.unit-modal input[disabled] {
  color: #777;
}
.unit-modal .validation-message {
  color: rgba(244, 67, 44, 0.6);
  text-align: center;
  padding: 20px 10px 0;
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
}
.unit-modal slider,
.unit-modal [slider] {
  margin: 15px 0;
}
.unit-modal slider div.handle,
.unit-modal [slider] div.handle {
  border-radius: 0;
}
.unit-modal slider div.handle:after,
.unit-modal [slider] div.handle:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  background-color: transparent !important;
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 12px solid #fff;
  border-radius: 0;
}
.unit-modal slider div.bubble,
.unit-modal [slider] div.bubble {
  top: 14px;
}
.unit-modal .splitter .unit1 {
  margin-left: 9px;
}
.unit-modal .splitter .unit2 {
  border-left: 1px dotted #333;
}
.split-modal,
.merge-modal {
  width: 600px;
  margin-left: -300px;
}
.split-modal .modal-body,
.merge-modal .modal-body {
  padding: 10px 15px;
}
.split-modal td:nth-child(1),
.merge-modal td:nth-child(1) {
  width: 80px;
}
.split-modal td:nth-child(2),
.merge-modal td:nth-child(2),
.split-modal td:nth-child(4),
.merge-modal td:nth-child(4),
.split-modal td:nth-child(6),
.merge-modal td:nth-child(6) {
  width: 135px;
}
.split-modal td:nth-child(3),
.merge-modal td:nth-child(3),
.split-modal td:nth-child(5),
.merge-modal td:nth-child(5) {
  width: 15px;
}
.split-modal .symbol,
.merge-modal .symbol {
  font-size: 28px;
  line-height: 12px;
}
input[type="color"] {
  padding: 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
}
input[type="color"][disabled] {
  opacity: 0.5;
  cursor: default;
}
input[type="color"]:-moz-system-metric(color-picker-available) {
  -moz-appearance: checkmenuitem;
  -moz-binding: none;
  -moz-padding-end: 0;
  -moz-padding-start: 0;
  -moz-user-select: none;
  background-color: transparent;
  border: 0 none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
.font {
  width: 40px;
  display: inline-block;
}
a[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.unit-summary {
  padding: 30px;
  background: #555;
  color: #efefef;
  font-size: 1.2em;
  height: 100vh;
}
.unit-summary .units {
  max-width: 800px;
  margin: 0 auto;
}
.unit-summary .table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.unit-summary .tbody,
.unit-summary .thead,
.unit-summary .tfoot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
}
.unit-summary .tbody {
  max-height: 70vh;
}
.unit-summary .tbody > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
.unit-summary .tbody tr:hover {
  background: #666;
}
.unit-summary .thead + .tbody,
.unit-summary .tbody + .tfoot {
  border-top: 1px solid #fff;
}
.unit-summary .tbody + .tfoot {
  font-weight: 400;
  opacity: .6;
}
.unit-summary .tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.unit-summary .tr + .tr {
  border-top: 1px solid #666;
}
.unit-summary .td,
.unit-summary .th {
  /*justify-content: center;*/
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100px;
  padding: 10px 5px;
}
.unit-summary .th {
  font-weight: 400;
}
.unit-summary .td-name {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  position: relative;
  padding-left: 10px;
  color: #fff;
  text-shadow: 0 0 3px #000;
}
.unit-summary .td-name span {
  z-index: 2;
  position: relative;
}
.unit-summary .td-name .unit {
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  opacity: .9;
  height: 26px;
  border-radius: 0 5px 5px 0;
  max-width: 100%;
}
.unit-summary .td-code {
  text-align: right;
  width: 70px;
}
.unit-summary .td-seat {
  text-align: right;
  width: 95px;
}
.unit-summary .td-area {
  text-align: right;
  width: 110px;
}
.unit-summary .td-actions {
  width: 105px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 7px 15px 7px;
}
.unit-summary .td-actions a {
  display: inline-block;
  width: 24px;
  padding: 0 2px;
  height: 20px;
}
.unit-summary .td-actions a img {
  max-width: 100%;
}
.building-summary {
  background: #3d3d3d;
  color: #efefef;
  position: absolute;
  top: 0;
  right: 15px;
  width: 180px;
  z-index: 3;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.building-summary .block-title {
  padding: 8px 10px;
  font-size: 1.1em;
  font-weight: 400;
  background: #222;
  cursor: pointer;
}
.building-summary .block-title .fa {
  line-height: 25px;
}
.building-summary .block-title .fa-caret-down {
  display: none;
}
.building-summary .block-title .fa-caret-right {
  display: inline-block;
}
.building-summary .building-item {
  border-top: 1px solid #000;
  padding: 5px 10px;
  display: none;
}
.building-summary .building-item .building-name {
  font-size: 1.1em;
  font-weight: 400;
}
.building-summary .building-item .building-area {
  text-align: right;
}
.building-summary .building-item.selected {
  box-shadow: 5px 0 0 #ff7211 inset;
}
.building-summary.expanded .block-title .fa-caret-down {
  display: inline-block;
}
.building-summary.expanded .block-title .fa-caret-right {
  display: none;
}
.building-summary.expanded .building-item {
  display: block;
}
