@import "login";
@import "variables";
@import "base";
@import "helpers";
@import "ns-popover";
@import "modal";
@import "grid";
@import "forms";
@import "input-groups";
@import "perfect-scrollbar";
@import "angular-slider";
@import "header";
@import "projects";
@import "building";
@import "table";
@import "form";
@import "button";
@import "alert";

.floated-action {
    background: #ff7211;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    right: 135px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    z-index: 2;

    &:hover {
        box-shadow: 0 0 5px rgba(100, 100, 100, .5);
    }
}

.page-header {
    border: 0;
}

.scroller {
    white-space: pre-line;
    overflow-y: hidden;
    position: relative;
}

.loading {
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.unit {
    height: 53px;
    border: 0;
    background: linear-gradient(#ccc, #aaa, #ccc);
    line-height: 30px;
    display: block;
    cursor: pointer;
    text-align: center;
    z-index: 2;
    position: relative;
    overflow: hidden;
    /*width: 100%;*/

    &.preview {
        cursor: default;
        height: 40px;
        width: 100%;
    }

    .code {
        position: absolute;
        top: 23px;
        left: 50%;
        font-size: 16px;
        background: rgba(61, 61, 61, .5);
        padding: 0 10px;
        line-height: 23px;
        height: 23px;
        color: #fff;
        font-weight: 400;
        font-style: italic;
        border-radius: 12px;
        transform: translateX(-50%);
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .measurement {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        background: #3d3d3d;
        padding: 0 5px;
        line-height: 16px;
        height: 16px;
        color: #a0a0a0;
        font-style: italic;
        font-weight: 400;
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .overhanging-overlay {
        width: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        /*transition: .3s width ease-in;*/
        background: repeating-linear-gradient(45deg, #999, #999 5px, #fff 5px, #fff 10px);
        /*background: repeating-linear-gradient(45deg, #999, #999 5px, #fff 5px, #fff 10px);*/
        opacity: .4;
    }
}

.unit-void {
    cursor: default;
    z-index: 0;
    background: #bfbfbf;
}

.unit-core {
    cursor: default;
    z-index: 0;
    background: #7f7f7f;
}

.drawing-canvas {
    position: relative;
    background: #f3f3f3;
    overflow-x: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-top: 62px;
    margin-top: -62px;
    width: 100%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .drawing-canvas-body {
        display: flex;
        flex: 1;

    }
    .drawing-canvas-footer {
        height: 60px;
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-direction: row;
        background: @dark-bg;
        color: #fff;
        position: relative;

        &.hidden {
            height: 0;
        }

        .switch {
            background: inherit;
            position: absolute;
            bottom: 100%;
            width: 50px;
            right: 30px;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            text-transform: uppercase;
            padding: 0 15px;
            color: #fff;
            cursor: pointer;
        }

        .project-name {
            font-size: 20px;
            display: flex;
            flex: 1;
            align-items: center;
            padding: 0 10px;
            overflow: hidden;
        }

        .unit-details {
            display: flex;
            flex: 1;

            font-size: 15px;
            padding: 0 15px;
            align-items: center;
            text-align: center;
            overflow: hidden;
        }

        .tools {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            flex-direction: row;
            font-size: 24px;
            width: 320px;
            overflow: hidden;

            .action {
                align-items: center;
                display: flex;
                flex: 1 0 0px;
                justify-content: center;
                cursor: pointer;

                /*&:hover {
                    background: rgba(0,0,0,.5);
                }*/

                &.disabled {
                    cursor: not-allowed;
                    opacity: .5;

                    &:hover {
                        background: transparent;
                    }
                }
            }
            .nav {
                flex-grow: 1.5;

                &:hover, &.active {
                    background: #999 none repeat scroll 0 0;
                    border-radius: 0 10px 10px 0;
                    width: 60px;
                }
            }
            .actions-container {
                position: fixed;
                bottom: 60px;
                right: 0;
                width: 140px;
                height: 350px;
                background: #3d3d3d;
                display: flex;
                flex-flow: column;
                z-index: 2;

                .action {
                    height: 50px;
                    width: 100%;
                    vertical-align: middle;
                    display: flex;
                    justify-content: flex-start;
                    padding: 5px;
                    font-size: 14px;

                    img {
                        margin-right: 10px;
                    }
                }
            }
            select {
                font-size: 16px;
                background-color: white;
                width: 70px;
                margin-right: 10px;
            }
        }
    }

    .org-units-container {
        position: relative;
        background: #2e3841;
        width: 264px;
        flex-grow: 0;
        flex-shrink: 0;
        overflow-y: auto;
        overflow-x: hidden;

        .org-units {
            display: flex;
            flex-flow: column;
            flex-grow: 1;

            .unit {
                margin-bottom: 4px;
                display: block;
                text-align: left;
                width: 264px !important;

                .extra {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: #737f8a;

                    &.arrow {
                        bottom: 2px;
                        right: 2px;
                        top: auto;
                        left: auto;
                        width: 0;
                        height: 0;
                        border-top: 14px solid transparent;
                        border-bottom: 0px solid transparent;
                        border-right: 14px solid #ff7211;
                        background: transparent;
                    }
                }
            }
        }
    }
}

.building-layout {
    position: relative;
    flex-grow: 1;
    overflow: auto;
    padding: 30px;

    .drawing-table {
        display: table;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .tr {
        height: 36px;
        display: table-row;
        width: 100%;
    }
    .td, .th {
        display: table-cell;
        vertical-align: middle;
    }
    .th {
        font-weight: 400;
        color: #262626;
    }
    .td {
        /*background: #e9e9e9;
        border: 1px solid #d7d7d7;*/
    }
    .area-label {
        text-align: right;
        font-size: 12px;
        border-right: 0;
        padding: 5px;

        div {
            width: 100px;
        }
    }
    .td.area-label {
        background: #f5f5f5;
        box-shadow: 1px 0 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7;
    }
    .floor-label {
        padding: 5px;
        font-size: 12px;
        border-left: 0;
        text-align: center;
        div {
            width: 50px;
        }
    }
    .td.floor-label {
        background: #f5f5f5;
        box-shadow: -1px 0 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7;
    }
    .building-label {
        text-align: center;
        font-size: 16px;
        color: #3d3d3d;

        a, a:focus, a:active, a:hover {
            color: #ff7211;
            padding: 0 5px;
        }
    }
    .floor {
        align-items: flex-start;
    }

    .floor-space {
        /*border: 1px solid #333;*/
        position: relative;
        height: 54px;
        background: #e9e9e9;
        box-shadow: -1px 0 0 0 #d7d7d7 inset, 0 1px 0 0 #d7d7d7 inset;

        &.drag-over {
            /*box-shadow: 0 0 20px rgba(0, 0, 0, .2) inset;*/
        }
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            border-bottom: 1px solid #d7d7d7;
            content: "";
            height: 1px;
        }
    }

    .unit-container {
        height: 54px;
    }
    .unit {
        float: left;
        box-shadow: 0 0 0 1px #000;
    }
    .unit.ui-draggable {
    }
}

.building-snapshot {

    .building-layout {
        padding: 30px 0;

        .tr {
            height: 30px;
        }
        .floor-space {
            height: 30px;
        }
        .area-label, .floor-label {
            /*font-size: 12px;*/
        }
        .area-label div{
            width: auto;
        }
        .unit-container{
            height: 30px;
        }
        .unit{
            height: 29px;
        }
    }
}

.action-popover {
    padding: 0 0 10px 0;
    background: transparent;

    &.ns-popover-left-align .triangle {
        left: 50% !important;
    }
    &.ns-popover-tooltip-theme.ns-popover-top-placement .triangle {
        border-top-color: transparent;
        bottom: -12px;

        &:after {
            border-top-color: rgba(0, 0, 0, .7);
        }
    }
    ul {
        list-style: none;
        white-space: nowrap;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        background: rgba(0, 0, 0, .7);
        color: #fff;

        li {
            list-style: none;
            display: inline-block;

            &.over-hanging {
                border-left: 1px dotted #777;
            }

            a, a:hover, a:active {
                padding: 7px;
                color: #fff;
                display: inline-block;
            }
            a[disabled] {
                opacity: .3;
                cursor: not-allowed;
            }
        }
    }
}

.custom-overlay {
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.merge-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}

.unit-modal {
    z-index: 4;
    position: fixed;
    top: 20px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    background: rgba(40, 40, 40, 0.9);
    color: #ccc;
    font-size: 12px;

    .modal-head {
        padding: 5px 10px;

        a img {
            padding: 5px;
        }
    }
    .modal-body {
        padding: 10px 30px;
    }
    table {
        width: 100%;
        border: 0;
    }
    th {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        border-bottom: 2px solid #fafafa;
        color: #fafafa;
        text-transform: uppercase;
    }
    td {
        border: 0;
        padding: 3px 5px;
        text-align: center;
        &:nth-child(1) {
            width: 100px;
            text-align: left;
        }
        .unit {
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
    input {
        background: transparent;
        border: 1px solid transparent;
        color: #ccc;
        font-size: 12px;
        text-align: center;
        padding: 3px;
        display: block;
        width: 100%;

        &.small {
            width: 80px;
            display: inline-block;
        }
        &.font {
            width: 40px;
            display: inline-block;
        }
    }
    .disabled, input[disabled] {
        color: #777;
    }
    .validation-message {
        color: rgba(244, 67, 44, 0.6);
        text-align: center;
        padding: 20px 10px 0;
        position: absolute;
        top: 0;
        left: 100px;
        right: 100px;
    }
    slider, [slider] {
        margin: 15px 0;
    }
    slider div.handle, [slider] div.handle {
        border-radius: 0;
    }
    slider div.handle:after, [slider] div.handle:after {
        content: '';
        position: absolute;
        top: -12px;
        left: 0;
        background-color: transparent !important;
        width: 0;
        height: 0;
        border-top: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 12px solid #fff;
        border-radius: 0;
    }
    slider div.bubble, [slider] div.bubble {
        top: 14px;
    }
    .splitter {
        .unit1 {
            margin-left: 9px;
        }
        .unit2 {
            border-left: 1px dotted #333;
        }
    }
}

.edit-modal {

}

.split-modal, .merge-modal {
    width: 600px;
    margin-left: -300px;

    .modal-body {
        padding: 10px 15px;
    }
    td:nth-child(1) {
        width: 80px;
    }
    td:nth-child(2),
    td:nth-child(4),
    td:nth-child(6) {
        width: 135px;
    }
    td:nth-child(3),
    td:nth-child(5) {
        width: 15px;
    }
    .symbol {
        font-size: 28px;
        line-height: 12px;
    }
}

input[type="color"] {
    padding: 0;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type="color"][disabled] {
    opacity: 0.5;
    cursor: default;
}

input[type="color"]:-moz-system-metric(color-picker-available) {
    -moz-appearance: checkmenuitem;
    -moz-binding: none;
    -moz-padding-end: 0;
    -moz-padding-start: 0;
    -moz-user-select: none;
    background-color: transparent;
    border: 0 none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.font {
    width: 40px;
    display: inline-block;
}

a[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.unit-summary {
    padding: 30px;
    background: #555;
    color: #efefef;
    font-size: 1.2em;
    height: 100vh;

    .units {
        max-width: 800px;
        margin: 0 auto;
    }

    .table {
        display: flex;
        flex-flow: column;
    }

    .tbody, .thead, .tfoot {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
    }

    .tbody {
        max-height: 70vh;

        > div {
            display: flex;
            flex-flow: column;
        }

        tr:hover {
            background: #666;
        }
    }

    .thead + .tbody, .tbody + .tfoot {
        border-top: 1px solid #fff;
    }

    .tbody + .tfoot {
        font-weight: 400;
        opacity: .6;
    }

    .tr {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .tr + .tr {
        border-top: 1px solid #666;
    }

    .td, .th {
        /*justify-content: center;*/
        flex-grow: 0;
        flex-shrink: 0;
        width: 100px;
        padding: 10px 5px;
    }

    .th {
        font-weight: 400;
    }

    .td-name {
        flex-grow: 1;
        width: auto;
        position: relative;
        padding-left: 10px;
        color: #fff;
        text-shadow: 0 0 3px #000;

        span {
            z-index: 2;
            position: relative;
        }

        .unit {
            display: block;
            position: absolute;
            top: 6px;
            left: 0;
            opacity: .9;
            height: 26px;
            border-radius: 0 5px 5px 0;
            max-width: 100%;
        }
    }

    .td-code {
        text-align: right;
        width: 70px;
    }

    .td-seat {
        text-align: right;
        width: 95px;
    }

    .td-area {
        text-align: right;
        width: 110px;
    }

    .td-actions {
        width: 105px;
        display: flex;
        justify-content: flex-end;
        padding: 7px 15px 7px;

        a {
            display: inline-block;
            width: 24px;
            padding: 0 2px;
            height: 20px;

            img {
                max-width: 100%;
            }
        }
    }
}

.building-summary {
    background: #3d3d3d;
    color: #efefef;
    position: absolute;
    top: 0;
    right: 15px;
    width: 180px;
    z-index: 3;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

    .block-title {
        padding: 8px 10px;
        font-size: 1.1em;
        font-weight: 400;
        background: #222;
        cursor: pointer;

        .fa {
            line-height: 25px;
        }

        .fa-caret-down {
            display: none;
        }
        .fa-caret-right {
            display: inline-block;
        }
    }
    .building-item {
        border-top: 1px solid #000;
        padding: 5px 10px;
        display: none;

        .building-name {
            font-size: 1.1em;
            font-weight: 400;
        }
        .building-area {
            text-align: right;
        }

        &.selected {
            box-shadow: 5px 0 0 #ff7211 inset;
        }
    }
    &.expanded {
        .block-title {
            .fa-caret-down {
                display: inline-block;
            }
            .fa-caret-right {
                display: none;
            }
        }
        .building-item {
            display: block;
        }
    }
}