.table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 0;
    font-size: 15px;
    color: #595959;
    line-height: 1.5;

    .tr {
        display: flex;
        flex-flow: row nowrap;
        background: #e1e1e1;
        margin-bottom: 10px;
        border-radius: 6px;

        // TD
        > div {
            display: flex;
            flex-flow: row nowrap;
            flex-grow: 1;
            flex-basis: 0;
            padding: 15px;
        }
        a {
            color: #595959;
            font-weight: bold;
        }
        .td-actions {
            flex: 0 0 150px;
        }
    }

    .thead {
        .tr {
            background: transparent;
            color: #b9b9b9;
        }
    }
    .td-actions a {
        display: inline-block;
        height: 22px;
        width: 22px;
        margin-right: 5px;
    }
    .tfoot {
        .tr{
            background: transparent;
            font-weight: 400;
        }
    }
}

table.table-heavy {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #38678f;
    margin: 0 auto;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: float 5s infinite;

    th {
        background: steelblue;
        height: 54px;
        font-weight: lighter;
        text-shadow: 0 1px 0 #38678f;
        color: white;
        border: 1px solid #38678f;
        box-shadow: inset 0 1px 2px #568ebd;
        transition: all 0.2s;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
    }
    tr {
        border-bottom: 1px solid #cccccc;
    }
    tr:last-child {
        border-bottom: 0;
    }
    td {
        border-right: 1px solid #cccccc;
        padding: 10px;
        transition: all 0.2s;
        height: 54px;
    }
    td:last-child {
        border-right: 0;
    }
    td.selected {
        background: #d7e4ef;
    }
    td input {
        font-size: 14px;
        background: none;
        outline: none;
        border: 0;
        display: table-cell;
        height: 100%;
        width: 100%;
    }
    td input:focus {
        box-shadow: 0 1px 0 steelblue;
        color: steelblue;
    }

    .td-actions {
        width: 130px;
        text-align: center;
        white-space: nowrap;
        a {
            display: inline-block;
            width: 28px;
            padding: 5px 5px;
            height: 28px;
            text-align: center;
            border-radius: 4px;
            background-color: rgba(70, 130, 180, 0.3);
            border: 1px solid rgba(70, 130, 180, 0.3);
            color: #3D6790;

            &:hover {
                background-color: rgba(70, 130, 180, .5);
            }
        }
    }
}

