<div class="building-layout">
    <div class="drawing-table">
        <div class="tr">
            <div class="th area-label"><div>Area Remains</div></div>
            <div class="th floor-label"><div>Floor</div></div>
            <div class="th building-label">&nbsp;</div>
        </div>
        <div class="tr" ng-repeat="floor in building.floors" ng-style="getFloorStyle(floor)">
            <div class="td area-label">{{remainingFloorArea(floor) | number:0}} {{organization.measurementUnit}}</div>
            <div class="td floor-label">{{floor.title}}</div>
            <div class="td floor">
                <div class="floor-space" ng-style="getFloorStyle(floor)">
                    <div class="unit-container">
                        <div class="unit unit-void" ng-if="floor.void" ng-style="getUnitStyle('void', floor)"></div>
                        <div class="unit unit-core" ng-if="floor.core" ng-style="getUnitStyle('core', floor)"></div>
<!--
                        <div class="unit"
                             ng-repeat="unit in getFloorUnits(floor)"
                             ng-style="getUnitStyle(unit)">
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>