<div class="container" role="main">
    <a class="floated-action" href="javascript:;" ng-click="addBuilding()" title="Add Building" class="button pull-right">+</a>

    <div class="projects building-list">

        <form name="createForm" method="post" enctype="multipart/form-data" novalidate
              ng-submit="submitForm(createForm)">

            <div ng-if="version.organization.buildings.length">
                <div ng-repeat="building in version.organization.buildings">
                    <div class="row">
                        <div class="col-xs-7">
                            <h2 class="section-header">
                                <span class="pull-right">
                                    <a href="javascript:;" title="Add Floor" ng-click="addFloor(building)"><i class="fa fa-plus"></i></a>
                                    <a href="javascript:;" title="Edit Building" ng-click="editBuilding(building)"><i class="fa fa-pencil"></i></a>
                                    <a href="javascript:;" title="Delete Building" ng-click="deleteBuilding(building)"><i class="fa fa-remove"></i></a>
                                    <a href="javascript:;" title="Move Up" ng-click="moveBuildingUp($index)" ng-disabled="$index==0"><i class="fa fa-chevron-up"></i></a>
                                    <a href="javascript:;" title="Move Down" ng-click="moveBuildingDown($index)" ng-disabled="$index==version.organization.buildings.length-1"><i class="fa fa-chevron-down"></i></a>
                                </span>
                                {{building.title}}
                            </h2>

                            <div class="table">
                                <div class="thead">
                                    <div class="tr">
                                        <div class="text-left">Name</div>
                                        <div class="text-right">Area</div>
                                        <div class="text-right">Offset</div>
                                        <div class="text-right">Void</div>
                                        <div class="text-right">Core</div>
                                        <div class="td-actions text-center">Actions</div>
                                    </div>
                                </div>
                                <div class="tbody">
                                    <div class="tr" ng-repeat="floor in building.floors">
                                        <div class="text-left">{{floor.title}}</div>
                                        <div class="text-right">{{floor.area | number:0}} {{version.organization.measurementUnit}}</div>
                                        <div class="text-right">{{floor.offset | number:0}} {{version.organization.measurementUnit}}</div>
                                        <div class="text-right">{{floor.void | number:0}} {{version.organization.measurementUnit}}</div>
                                        <div class="text-right">{{floor.core | number:0}} {{version.organization.measurementUnit}}</div>
                                        <div class="td-actions text-right">
                                            <a href="javascript:;" title="Delete" ng-click="deleteFloor(floor, building)"><i class="fa fa-remove text-danger"></i></a>
                                            <a href="javascript:;" title="Edit" ng-click="editFloor(floor, building)"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:;" title="Move Up" ng-click="moveFloorUp($index, building)" ng-disabled="$index==0"><i class="fa fa-chevron-up"></i></a>
                                            <a href="javascript:;" title="Move Down" ng-click="moveFloorDown($index, building)" ng-disabled="$index==building.floors.length-1"><i class="fa fa-chevron-down"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<st-building building="building" organization="version.organization"></st-building>-->
                            <br><br>
                        </div>
                        <div class="col-xs-5">
                            <div class="building-snapshot">
                                <h2 class="section-header">
                                    {{building.title}}
                                </h2>
                                <st-building building="building" organization="version.organization"></st-building>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="row">
                    <div class="col-xs-3">&nbsp;</div>
                    <div class="col-xs-5">
                        <button type="button" class="button" ng-click="submitForm(true)">Save Buildings</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="button" ng-click="submitForm(false)">Next</button>
                    </div>
                </div>
                <div class="text-center">
                    <br>
                </div>
            </div>
        </form>
    </div>
</div> <!-- /container -->

