<div class="container" role="main">
    <a class="floated-action" ui-sref="project.info" title="Create New Project" class="button pull-right">+</a>
    <div class="projects">
        <div class="table">
            <div class="thead">
                <div class="tr">
                    <div>Project Name</div>
                    <div>Description</div>
                    <div>Contact Person</div>
                    <div>Last Updated</div>
                    <div class="td-actions">Actions</div>
                </div>
            </div>
            <div class="tbody">
                <div class="tr" ng-repeat="project in projects">
                    <div><a ui-sref="project.info({projectId: project.id})" title="Project details">{{project.name}}</a></div>
                    <div>{{project.description}}</div>
                    <div>{{project.contact}}</div>
                    <div>{{project.created_at}}</div>
                    <div class="td-actions">
                        <a href="javascript:;" title="Delete" ng-click="deleteProject(project)"><i class="fa fa-close text-danger"></i></a>
                        <a href="javascript:;" title="Edit" ng-click="editProject(project)"><i class="fa fa-pencil"></i></a>
                        <a ui-sref="project.info({projectId: project.id})" title="Project details"><i class="fa fa-list"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> <!-- /container -->

