<header>
    <div class="container">
        <div class="header">
            <ul class="sub-nav clearfix">
                <li><img ng-src="assets/images/projects/{{(project.logo ? project.logo : 'logo.png')}}"></li>
                <li ui-sref-active="selected"><a ui-sref="project.info">Project Info</a></li>
                <li ui-sref-active="selected"><a ng-disabled="true">Versioning</a></li>
                <li ui-sref-active="selected"><a ng-disabled="true">Organization Units</a></li>
                <li ui-sref-active="selected"><a ng-disabled="true">Buildings</a></li>
                <li ui-sref-active="selected"><a ng-disabled="true">Draw</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container" role="main">
    <!--<a class="floated-action" ui-sref="project.version.crud" title="Add new version" class="button pull-right">+</a>-->

    <div class="projects">

        <form name="createForm" method="post" enctype="multipart/form-data" novalidate ng-submit="submitForm(createForm)">
            <div class="row">
                <div class="col-xs-6">
                    <div class="field" ng-class="{'has-error': createForm.versionName.$invalid && createForm.versionName.$touched}">
                        <label for="projectName">Project Name *</label>

                        <div>
                            <input type="text" id="projectName" name="projectName" placeholder="Name of the Project" ng-model="project.name" required>
                            <p class="help-block" ng-show="createForm.projectName.$error.required && createForm.projectName.$touched">Project Name is required</p>
                        </div>
                    </div>
                    <div class="field" ng-class="{'has-error': createForm.description.$invalid && createForm.description.$touched}">
                        <label for="description">Description *</label>

                        <textarea id="description" name="description" placeholder="Short description of this project" ng-model="project.description"></textarea>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class='field' ng-class="{'has-error': createForm.logo.$invalid && createForm.logo.$touched}">
                        <label for='logo'>Logo</label>

                        <div>
                            <input type="file" name="logo" id="logo" accept=".png,.jpg,.gif" ng-model="logo"
                                   onchange="angular.element(this).scope().fileChanged(this.files);" onclick="this.value = null;" valid-file>
                            <p class="help-block" ng-show="createForm.logo.$error.required && createForm.logo.$touched">You must upload a valid image file</p>
                        </div>
                    </div>
                    <div class="field" ng-class="{'has-error': createForm.contact.$invalid && createForm.versionName.$touched}">
                        <label for="contact">Contact person *</label>

                        <div>
                            <input type="text" id="contact" name="contact" placeholder="Contact person of the Project" ng-model="project.contact" required>
                            <p class="help-block" ng-show="createForm.contact.$error.required && createForm.contact.$touched">Contact person name is required</p>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <button type="submit" class="button" ng-disabled="createForm.$invalid">
                            {{project.id?"Update":"Save"}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br><hr/><br>
        <div ng-if="!project.versions.length">
            <p>This project has no versions yet.
            <!--<a ui-sref="version({projectId: project.id})" title="Add new version" class="">Create your first version</a>-->
            </p>
        </div>
        <div ng-if="project.versions.length">
            <p>This project has {{project.versions.length}} versions of data available:</p>
            <div class="table">
                <div class="thead">
                    <div class="tr">
                        <div>Version Name</div>
                        <div>Note</div>
                        <div>Last Updated</div>
                        <div class="td-actions">Actions</div>
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr" ng-repeat="version in project.versions">
                        <div><a href="javascript:;" ui-sref="project.version.crud({versionId: version.id})" title="Edit">{{version.name}}</a></div>
                        <div>{{version.note}}</div>
                        <div>{{version.created_at}}</div>
                        <div class="td-actions">
                            <a href="javascript:;" ng-click="deleteVersion(version)" title="Delete"><i class="fa fa-close text-danger"></i></a>
                            <a href="javascript:;" ui-sref="project.version.crud({versionId: version.id})" title="Edit"><i class="fa fa-pencil"></i></a>
                            <a href="javascript:;" ng-click="exportVersion(version)" title="Export"><i class="fa fa-file-excel-o"></i></a>
                            <a href="javascript:;" ui-sref="project.version.drawing({versionId: version.id})" title="Go to drawing"><i class="fa fa-leaf"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="row">
                <div class="col-xs-3">&nbsp;</div>
                <div class="col-xs-5">
                    <button type="button" class="button" ng-click="moveNext(false)">Return to Project List</button>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="button" ng-click="moveNext(true)" ng-disabled="!project.id">Create Version</button>
                </div>
            </div>
            <div class="text-center">
                <br>
            </div>
        </div>
    </div>
</div> <!-- /container -->

