<div class="container" role="main">
    <!--<a class="floated-action" href="javascript:;" ng-click="addUnit()" title="Add Unit" class="button pull-right">+</a>-->

    <div class="projects">
        <form name="createForm" id="createForm" method="post" enctype="multipart/form-data" novalidate ng-submit="submitForm(createForm)">
            <div ng-init="setForm(createForm)"></div>
            <div class="create-unit">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="field" ng-class="{'has-error': createForm.name.$invalid && createForm.name.$touched}">
                            <label for="name">Display name *</label>

                            <div>
                                <input type="text" id="name" name="name" placeholder="Name of the Unit" ng-model="unit.name" required>
                                <p class="help-block" ng-show="createForm.name.$error.required && createForm.name.$touched">Unit Name is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="field" ng-class="{'has-error': createForm.area.$invalid && createForm.area.$touched}">
                            <label for="area">Space needed ({{organization.measurementUnit}}) *</label>

                            <div>
                                <input type="number" id="area" name="area" placeholder="" ng-model="unit.area" required data-number>
                                <p class="help-block" ng-show="createForm.area.$error.required && createForm.area.$touched">Unit Area is required</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="field" ng-class="{'has-error': createForm.code.$invalid && createForm.code.$touched}">
                            <label for="code">Code *</label>

                            <div>
                                <input type="text" id="code" name="code" placeholder="Short form" ng-model="unit.code" required>
                                <p class="help-block" ng-show="createForm.code.$error.required && createForm.code.$touched">Unit Code is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="field" ng-class="{'has-error': createForm.seat.$invalid && createForm.seat.$touched}">
                            <label for="seat">Headcount</label>

                            <div>
                                <input type="number" id="seat" name="seat" placeholder="" ng-model="unit.seat" data-number>
                                <p class="help-block" ng-show="createForm.contact.$error.number && createForm.contact.$touched">Must be a number</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <div class="field">
                            <label>Bar *</label>

                            <div>
                                <input type="color" ng-model="unit.fill.endColor">
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="field">
                            <label>Group bar</label>

                            <div>
                                <input type="color" ng-model="unit.fill.startColor">
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="field">
                            <label>Preview</label>

                            <div class="unit preview" ng-style="getUnitStyle(unit)"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="field">
                            <div class="row">
                                <div class="col-xs-5 text-center">
                                    <button type="button" class="button" ng-click="resetForm()" style="margin-top: 0">Clear</button>
                                </div>
                                <div class="col-xs-7 text-center">
                                    <button type="button" class="button" ng-click="saveUnit()" ng-disabled="createForm.$invalid" style="margin-top: 0">
                                        {{isEditMode?"Update":"Add"}}
                                    </button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="table" ng-if="version.organization.units.length">
                <div class="thead">
                    <div class="tr">
                        <div class="th td-name">Display name</div>
                        <div class="th td-code">Short form</div>
                        <div class="th td-preview">Preview</div>
                        <div class="th td-seat">Headcount</div>
                        <div class="th td-area">Space Needed</div>
                        <div class="th td-actions">&nbsp;</div>
                    </div>
                </div>
                <div class="tbody">
                    <div class="tr" ng-repeat="unit in version.organization.units">
                        <div class="td td-name">{{unit.name}}</div>
                        <div class="td td-code">{{unit.code}}</div>
                        <div class="td td-preview"><div class="unit preview" ng-style="getUnitStyle(unit)"></div></div>
                        <div class="td td-seat">{{unit.seat}} ppl</div>
                        <div class="td td-area">{{unit.area | number:0}} {{organization.measurementUnit}}</div>
                        <div class="td td-actions">
                            <a href="javascript:;" ng-click="editUnit(unit)"><i class="fa fa-pencil"></i></a>
                            <a href="javascript:;" ng-click="deleteUnit(unit)"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                </div>
                <div class="tfoot">
                    <div class="tr">
                        <div class="th td-name">&nbsp;</div>
                        <div class="th td-code">&nbsp;</div>
                        <div class="th td-preview">TOTAL</div>
                        <div class="th td-seat">{{getSeatTotal()}} ppl</div>
                        <div class="th td-area">{{getAreaTotal() | number:0}} {{organization.measurementUnit}}</div>
                        <div class="th td-actions">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="row">
                    <div class="col-xs-3">&nbsp;</div>
                    <div class="col-xs-5">
                        <button type="button" class="button" ng-click="submitForm(true)">Save and Close</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="button" ng-click="submitForm(false)">Next</button>
                    </div>
                </div>
                <div class="text-center">
                    <br>
                </div>
            </div>

        </form>
    </div>
</div> <!-- /container -->

