<header>
    <div class="container">
        <div class="header">
            <ul class="sub-nav clearfix">
                <li><img ng-src="assets/images/projects/{{(project.logo ? project.logo : 'logo.png')}}"></li>
                <li ui-sref-active="selected"><a ui-sref="project.info">Project Info</a></li>
                <li ui-sref-active="selected"><a ui-sref="project.version.crud">Versioning</a></li>
                <li ui-sref-active="selected"><a ui-sref="project.version.units">Organization Units</a></li>
                <li ui-sref-active="selected"><a ui-sref="project.version.buildings">Buildings</a></li>
                <li ui-sref-active="selected"><a ui-sref="project.version.drawing">Draw</a></li>
            </ul>
        </div>
    </div>
</header>

<div ui-view></div>