<div class="container" role="main">
    <a class="floated-action" href="data/sample.xlsx" title="Download Sample Excel" class="button pull-right"><i class="fa fa-download"></i></a>

    <div class="projects">
        <form name="createForm" method="post" enctype="multipart/form-data" novalidate ng-submit="submitForm(createForm)">
            <div class="row">
                <div class="col-xs-6">
                    <div class="field" ng-class="{'has-error': createForm.versionName.$invalid && createForm.versionName.$touched}">
                        <label for="versionName">Version Name</label>

                        <div>
                            <input type="text" id="versionName" name="versionName" placeholder="Name of the Version" ng-model="version.name" required>
                            <p class="help-block" ng-show="createForm.versionName.$error.required && createForm.versionName.$touched">Version Name is required</p>
                        </div>
                    </div>
                    <div class="field" ng-class="{'has-error': createForm.versionNote.$invalid && createForm.versionNote.$touched}">
                        <label for="versionNote">Note</label>

                        <textarea id="versionNote" name="versionNote" placeholder="Short note for this version" ng-model="version.note"></textarea>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="field">
                        <label for="measurementUnit">Measurement Unit</label>

                        <select class="form-control" id="measurementUnit"
                                name="measurementUnit"
                                ng-options="item.title as item.title for item in measurementUnits"
                                ng-model="version.organization.measurementUnit"></select>
                    </div>

                    <div class='field' ng-class="{'has-error': createForm.excel_file.$invalid && createForm.excel_file.$touched}">
                        <label for='excel_file'>Import File</label>

                        <div>
                            <input type="file" class="form-control" name="excel_file" id="excel_file" accept=".xlsx,.json" ng-model="xlsFile"
                                   onchange="angular.element(this).scope().fileChanged(this.files);" onclick="this.value = null;" valid-file>
                            <p class="help-block" ng-show="createForm.excel_file.$error.required && createForm.excel_file.$touched">You must upload an Excel/JSON file</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="row">
                    <div class="col-xs-3">&nbsp;</div>
                    <div class="col-xs-5">
                        <button type="button" class="button" ng-click="submitForm(true)">Save and Close</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="button" ng-click="submitForm(false)" ng-disabled="createForm.$invalid">Next</button>
                    </div>
                </div>
            </div>

            <!--<div class="panel panel-heavy" ng-if="version.organization.units.length">
                <div class="panel-heading">
                    <span class="pull-right">
                        <a href="javascript:;" title="Add Unit" ng-click="addUnit(building)" ng-disabled="true"><i class="glyphicon glyphicon-plus"></i></a>
                    </span>
                    Organization Units
                </div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th class="text-right">Headcount</th>
                            <th class="text-right">Space Needed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="unit in version.organization.units">
                            <td>{{unit.name}}</td>
                            <td>{{unit.code}}</td>
                            <td class="text-right">{{unit.seat}} ppl</td>
                            <td class="text-right">{{unit.area | number:0}} {{version.organization.measurementUnit}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-heavy" ng-if="version.organization.buildings.length">
                <div class="panel-heading">
                    <span class="pull-right">
                        <a href="javascript:;" title="Add Building" ng-click="addBuilding()"><i class="glyphicon glyphicon-plus"></i></a>
                    </span>
                    Buildings
                </div>
                <div class="panel-body">
                    <div class="panel panel-heavy panel-building" ng-repeat="building in version.organization.buildings">
                        <div class="panel-heading">
                            <span class="pull-right">
                                <a href="javascript:;" title="Move Up" ng-click="moveBuildingUp($index)" ng-disabled="$index==0"><i class="glyphicon glyphicon-menu-up"></i></a>
                                <a href="javascript:;" title="Move Down" ng-click="moveBuildingDown($index)" ng-disabled="$index==version.organization.buildings.length-1"><i class="glyphicon glyphicon-menu-down"></i></a>
                                <a href="javascript:;" title="Delete Building" ng-click="deleteBuilding(building)"><i class="glyphicon glyphicon-remove"></i></a>
                                <a href="javascript:;" title="Edit Building" ng-click="editBuilding(building)"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a href="javascript:;" title="Add Floor" ng-click="addFloor(building)"><i class="glyphicon glyphicon-plus"></i></a>
                            </span>
                            {{building.title}}
                        </div>
                        <div class="table">
                            <div class="thead">
                                <div class="tr">
                                    <div class="text-left">Name</div>
                                    <div class="text-right">Area</div>
                                    <div class="text-right">Offset</div>
                                    <div class="text-right">Void</div>
                                    <div class="text-right">Core</div>
                                    <div class="text-center">Actions</div>
                                </div>
                            </div>
                            <div class="tbody">
                                <div class="tr" ng-repeat="floor in building.floors">
                                    <div class="text-left">{{floor.title}}</div>
                                    <div class="text-right">{{floor.area | number:0}} {{version.organization.measurementUnit}}</div>
                                    <div class="text-right">{{floor.offset | number:0}} {{version.organization.measurementUnit}}</div>
                                    <div class="text-right">{{floor.void | number:0}} {{version.organization.measurementUnit}}</div>
                                    <div class="text-right">{{floor.core | number:0}} {{version.organization.measurementUnit}}</div>
                                    <div class="td-actions">
                                        <a href="javascript:;" title="Delete" ng-click="deleteFloor(floor, building)"><i class="glyphicon glyphicon-remove text-danger"></i></a>
                                        <a href="javascript:;" title="Edit" ng-click="editFloor(floor, building)"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a href="javascript:;" title="Move Up" ng-click="moveFloorUp($index, building)" ng-disabled="$index==0"><i class="glyphicon glyphicon-menu-up"></i></a>
                                        <a href="javascript:;" title="Move Down" ng-click="moveFloorDown($index, building)" ng-disabled="$index==building.floors.length-1"><i class="glyphicon glyphicon-menu-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <st-building building="building" organization="version.organization"></st-building>
                    </div>
                </div>
            </div>-->



        </form>
    </div>
</div> <!-- /container -->

