<div ng-controller="AddController">
    <div class="custom-overlay" ng-if="unit"></div>
    <div class="unit-modal add-modal" ng-if="unit">
        <div class="modal-head">
            <a href="javascript:;" ng-click="close()" class="pull-right"><img src="assets/images/close_36.png"></a>
            <a href="javascript:;" ng-click="save()" class="pull-right" ng-disabled="!validation.isValid"><img src="assets/images/ok_36.png"></a>
            <img src="assets/images/plus_48.png"/>
            <div class="validation-message" ng-if="!validation.isValid">{{validation.message}}</div>
        </div>
        <div class="modal-body">
            <table>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <div class="unit"
                             ng-style="getUnitStyle(unit)">
                            <strong>{{unit.code}}</strong>
                            <span ng-if="unit.isShowSeat && unit.seat">{{unit.seat}} ppl</span>
                            <span ng-if="unit.isShowArea && unit.area">{{unit.area | number:0}} {{organization.measurementUnit}}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" ng-model="unit.name" ng-change="changeName(unit.name)"></td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td><input type="text" ng-model="unit.code" ng-change="changeCode(unit.code)"></td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td><input type="number" ng-model="unit.area" ng-change="changeArea()"></td>
                </tr>
                <tr>
                    <td>Show Area</td>
                    <td><input type="checkbox" ng-model="unit.isShowArea"></td>
                </tr>
                <tr>
                    <td>Headcount</td>
                    <td><input type="number" ng-model="unit.seat"></td>
                </tr>
                <tr>
                    <td>Show Headcount</td>
                    <td><input type="checkbox" ng-model="unit.isShowSeat"></td>
                </tr>
                <tr>
                    <td>Density</td>
                    <td><span class="disabled">{{(unit.area / unit.seat) | number:0}} {{organization.measurementUnit}}/head</span></td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>
                        <input type="color" ng-model="unit.fill.startColor"> &ndash;
                        <input type="color" ng-model="unit.fill.endColor">
                    </td>
                </tr>
                <tr>
                    <td>Font</td>
                    <td>
                        <input type="color" ng-model="unit.font.color">
                        <input type="text" ng-model="unit.font.fontSize" class="font">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>