<div class="drawing-canvas" ng-cloak>

    <div class="drawing-canvas-body">
        <div class="building-layout">
            <div class="building-summary" ng-class="{'expanded': isBuildingSummaryVisible}">
                <div class="block-title" ng-click="toggleBuildingSummaryVisibility()">
                    <i class="fa fa-caret-down pull-right"></i>
                    <i class="fa fa-caret-right pull-right"></i>
                    Total area remaining
                </div>
                <div class="building-item" ng-if="isBuildingSummaryVisible" ng-repeat="building in organization.buildings" ng-class="{'selected': $index == activeBuildingIndex}">
                    <div class="building-name">{{building.title}}</div>
                    <div class="building-area">
                        {{remainingBuildingArea(building) | number:0}} / {{totalBuildingArea(building) | number:0}} {{organization.measurementUnit}}
                    </div>
                </div>
            </div>

            <div class="drawing-table">
                <div class="tr">
                    <div class="th area-label"><div>Area remaining / Floor area</div></div>
                    <div class="th floor-label"><div>Floor</div></div>
                    <div class="th building-label">
                        <a href="javascript:;"
                           ng-if="activeBuildingIndex>0"
                           ng-click="switchActiveBuilding(-1)"> <i class="fa fa-angle-double-left"></i> </a>
                        {{activeBuilding.title}}
                        <a href="javascript:;"
                           ng-if="activeBuildingIndex < organization.buildings.length-1"
                           ng-click="switchActiveBuilding(1)"> <i class="fa fa-angle-double-right"></i> </a>
                    </div>
                </div>
                <div class="tr" ng-repeat="floor in activeBuilding.floors">
                    <div class="td area-label">
                        {{remainingFloorArea(floor) | number:0}} / {{(floor.area) | number:0}} {{organization.measurementUnit}}
                    </div>
                    <div class="td floor-label">{{floor.title}}</div>
                    <div class="td floor">
                        <div class="floor-space" ng-style="getFloorStyle(floor)">
                            <div class="unit-container" sortable data-floor-title="{{floor.title}}" ng-style="getFloorUnitContainerStyle(floor)">
                                <div class="unit unit-void" ng-if="floor.void" ng-style="getUnitStyle('void', floor)"><div class="code">void</div></div>
                                <div class="unit unit-core" ng-if="floor.core" ng-style="getUnitStyle('core', floor)"><div class="code">core</div></div>

                                <div class="unit"
                                     ng-click="mergeUnit(unit, floor)"
                                     ng-repeat="unit in getFloorUnits(floor)"
                                     ng-style="getUnitStyle(unit)"
                                     data-code="{{unit.code}}"
                                     ns-popover="!mergeUnits.unit1"
                                     ns-popover-template="popover"
                                     ns-popover-trigger="click"
                                     ns-popover-placement="top"
                                     ns-popover-theme="action-popover ns-popover-tooltip-theme"
                                     ns-popover-timeout=".5"
                                     ns-popover-mouse-relative="x"
                                     ng-mouseover="setHoverUnit(unit, floor)"
                                     ng-mouseleave="onUnitLeave(unit, floor)">
                                    <div class="overhanging-overlay" ng-style="getOverhangingStyle(unit, floor)"></div>
                                    <div class="code">{{unit.code}}</div>
                                    <div class="measurement" ng-if="getUnitMeasurement(unit)">{{getUnitMeasurement(unit)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="org-units-container">
            <div class="org-units" sortable st-full-height>
                <div class="unit"
                     ng-click="mergeUnit(unit, floor)"
                     ng-repeat="unit in organization.units | filter:{isUsed:false}"
                     ng-style="getUnitStyle(unit)"
                     data-code="{{unit.code}}"
                     ns-popover="!mergeUnits.unit1"
                     ns-popover-template="popover"
                     ns-popover-trigger="click"
                     ns-popover-placement="top|left"
                     ns-popover-theme="action-popover ns-popover-tooltip-theme"
                     ns-popover-timeout=".5"
                     ng-mouseover="setHoverUnit(unit, floor)"
                     ng-mouseleave="onUnitLeave(unit, floor)">
                    <div class="extra" ng-class="{'arrow': (getUnitPixelWidth(unit)>264)}" ng-style="getUnitExtraStyle(unit)"></div>
                    <div class="code">{{unit.code}}</div>
                    <div class="measurement" ng-if="getUnitMeasurement(unit)">{{getUnitMeasurement(unit)}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="drawing-canvas-footer" ng-class="{'hidden': !isFooterVisible}">
        <div class="switch" ng-click="toggleFooterVisibility()">{{isFooterVisible?'HIDE':'SHOW'}}</div>
        <div class="project-name" ng-cloak>
            {{project.name}} > {{project.version.name}}
        </div>
        <div class="unit-details">
            <span ng-if="hoverUnit">{{hoverUnit.name}} | {{hoverUnit.code}} | {{hoverUnit.area | number:0}}</span>
        </div>
        <div class="tools" ng-include="'app/components/drawing/views/tools.html'"></div>
    </div>

    <script type="text/ng-template" id="popover">
        <div class="triangle"></div>
        <ul>
            <li ng-if="floor"><a href="javascript:;" ng-click="removeUnit(unit, floor); hidePopover();"><img src="assets/images/return_36.png" width="30"></a></li>
            <li><a href="javascript:;" ng-click="splitUnit(unit, floor); hidePopover();"><img src="assets/images/scissors_36.png" width="30"></a></li>
            <li><a href="javascript:;" ng-click="mergeStart(unit, floor); hidePopover();"><img src="assets/images/merge_36.png" width="30"></a></li>
            <li><a href="javascript:;" ng-click="editUnit(unit, floor); hidePopover();"><img src="assets/images/edit_36.png" width="30"></a></li>
            <li ng-if="isOverHanging(unit, floor)" class="over-hanging"><a href="javascript:;" ng-click="chopOverHanging(floor); hidePopover();"><img src="assets/images/knife_36.png" width="30"></a></li>
        </ul>
    </script>

    <div ng-include="'app/components/drawing/views/editUnit.html'"></div>
    <div ng-include="'app/components/drawing/views/splitUnit.html'"></div>
    <div ng-include="'app/components/drawing/views/mergeUnit.html'"></div>
    <div ng-include="'app/components/drawing/views/addUnit.html'"></div>

    <div class="custom-overlay merge-overlay" ng-if="mergeUnits.unit1 && !mergeUnits.unit2">
        <a href="javascript:;" ng-click="mergeCancel()" class="close"><img src="assets/images/close_36.png"></a>
    </div>

</div>