<div ng-controller="MergeController">
    <div class="custom-overlay" ng-if="unit1"></div>
    <div class="unit-modal merge-modal" ng-if="unit1">
        <div class="modal-head">
            <a href="javascript:;" ng-click="close()" class="pull-right"><img src="assets/images/close_36.png"></a>
            <a href="javascript:;" ng-click="save()" class="pull-right"><img src="assets/images/ok_36.png"></a>
            <img src="assets/images/merge_48.png"/>
        </div>
        <div class="modal-body">
            <table>
                <tr>
                    <td>&nbsp;</td>
                    <th colspan="3">Before</th>
                    <td>&nbsp;</td>
                    <th>After</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <div class="unit" ng-style="getUnitStyle(unit1)">
                            <strong>{{unit1.code}}</strong>
                            <span ng-if="unit1.isShowSeat && unit.seat">{{unit1.seat}} ppl</span>
                            <span ng-if="unit1.isShowArea && unit.area">{{unit1.area | number:0}} {{organization.measurementUnit}}</span>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="unit" ng-style="getUnitStyle(unit2)">
                            <strong>{{unit2.code}}</strong>
                            <span ng-if="unit2.isShowSeat && unit.seat">{{unit2.seat}} ppl</span>
                            <span ng-if="unit2.isShowArea && unit.area">{{unit2.area | number:0}} {{organization.measurementUnit}}</span>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="unit"
                             ng-style="getUnitStyle(unit)">
                            <strong>{{unit.code}}</strong>
                            <span ng-if="unit.isShowSeat && unit.seat">{{unit.seat}} ppl</span>
                            <span ng-if="unit.isShowArea && unit.area">{{unit.area | number:0}} {{organization.measurementUnit}}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><span class="disabled">{{unit1.name}}</span></td>
                    <td>&nbsp;</td>
                    <td><span class="disabled">{{unit2.name}}</span></td>
                    <td>&nbsp;</td>
                    <td><input type="text" ng-model="unit.name"></td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td><span class="disabled">{{unit1.code}}</span></td>
                    <td>&nbsp;</td>
                    <td><span class="disabled">{{unit2.code}}</span></td>
                    <td>&nbsp;</td>
                    <td><input type="text" ng-model="unit.code"></td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td><span class="disabled">{{unit1.area}}</span></td>
                    <td class="symbol">+</td>
                    <td><span class="disabled">{{unit2.area}}</span></td>
                    <td class="symbol">=</td>
                    <td><span class="disabled">{{unit.area}}</span></td>
                </tr>
                <tr>
                    <td>Show Area</td>
                    <td><input type="checkbox" ng-model="unit1.isShowArea" ng-disabled="true"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit2.isShowArea" ng-disabled="true"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit.isShowArea"></td>
                </tr>
                <tr>
                    <td>Headcount</td>
                    <td><span class="disabled">{{unit1.seat}}</span></td>
                    <td class="symbol">+</td>
                    <td><span class="disabled">{{unit2.seat}}</span></td>
                    <td class="symbol">=</td>
                    <td><span class="disabled">{{unit.seat}}</span></td>
                </tr>
                <tr>
                    <td>Show Headcount</td>
                    <td><input type="checkbox" ng-model="unit1.isShowSeat" ng-disabled="true"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit2.isShowSeat" ng-disabled="true"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit.isShowSeat"></td>
                </tr>
                <tr>
                    <td>Density</td>
                    <td><span class="disabled">{{(unit1.area / unit1.seat) | number:0}} {{organization.measurementUnit}}/head</span></td>
                    <td>&nbsp;</td>
                    <td><span class="disabled">{{(unit2.area / unit2.seat) | number:0}} {{organization.measurementUnit}}/head</span></td>
                    <td>&nbsp;</td>
                    <td><span class="disabled">{{(unit.area / unit.seat) | number:0}} {{organization.measurementUnit}}/head</span></td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>
                        <input type="color" ng-model="unit1.fill.startColor" ng-disabled="true">
                        <input type="color" ng-model="unit1.fill.endColor" ng-disabled="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit2.fill.startColor" ng-disabled="true">
                        <input type="color" ng-model="unit2.fill.endColor" ng-disabled="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit.fill.startColor">
                        <input type="color" ng-model="unit.fill.endColor">
                    </td>
                </tr>
                <tr>
                    <td>Font</td>
                    <td>
                        <input type="color" ng-model="unit1.font.color" ng-disabled="true">
                        <input type="text" ng-model="unit1.font.fontSize" class="font" ng-disabled="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit2.font.color" ng-disabled="true">
                        <input type="text" ng-model="unit2.font.fontSize" class="font" ng-disabled="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit.font.color">
                        <input type="text" ng-model="unit.font.fontSize" class="font">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>