<div ng-controller="SplitController">
    <div class="custom-overlay" ng-if="originalUnit"></div>
    <div class="unit-modal split-modal" ng-if="originalUnit">
        <div class="modal-head">
            <a href="javascript:;" ng-click="close()" class="pull-right"><img src="assets/images/close_36.png"></a>
            <a href="javascript:;" ng-click="save()" class="pull-right" ng-disabled="!isValid"><img src="assets/images/ok_36.png"></a>
            <img src="assets/images/scissors_48.png"/>
        </div>
        <div class="modal-body">
            <div class="splitter">
                <!--<div class="unit unit1" ng-style="getUnitStyle(unit1)">
                    <strong>{{unit1.code}}</strong>
                    <span ng-if="unit1.isShowSeat && unit.seat">{{unit1.seat}} ppl</span>
                    <span ng-if="unit1.isShowArea && unit.area">{{unit1.area | number:0}} {{organization.measurementUnit}}</span>
                </div>
                <div class="unit unit2" ng-style="getUnitStyle(unit2)">
                    <strong>{{unit2.code}}</strong>
                    <span ng-if="unit2.isShowSeat && unit.seat">{{unit2.seat}} ppl</span>
                    <span ng-if="unit2.isShowArea && unit.area">{{unit2.area | number:0}} {{organization.measurementUnit}}</span>
                </div>-->

                <div class="unit unit1" ng-style="getUnitStyle(unit1)">
                    <div class="code">{{unit1.code}}</div>
                    <div class="measurement" ng-if="getUnitMeasurement(unit)">{{getUnitMeasurement(unit1)}}</div>
                </div>
                <div class="unit unit2" ng-style="getUnitStyle(unit2)">
                    <div class="code">{{unit2.code}}</div>
                    <div class="measurement" ng-if="getUnitMeasurement(unit)">{{getUnitMeasurement(unit2)}}</div>
                </div>

                <slider floor="1" ceiling="{{originalUnit.area-1}}" step="1" precision="1" ng-model="unit1.area"></slider>
            </div>
            <table>
                <tr>
                    <td>&nbsp;</td>
                    <th>Before</th>
                    <td>&nbsp;</td>
                    <th colspan="3">After</th>
                </tr>
                <tr>
                    <td class="td-label">Name</td>
                    <td class="td-unit"><span class="disabled">{{originalUnit.name}}</span></td>
                    <td class="td-operator">&nbsp;</td>
                    <td class="td-unit"><input type="text" ng-model="unit1.name" ng-change="changeName(unit1.name)"></td>
                    <td class="td-operator">&nbsp;</td>
                    <td class="td-unit"><input type="text" ng-model="unit2.name" ng-change="changeName(unit2.name)"></td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td><span class="disabled">{{originalUnit.code}}</span></td>
                    <td>&nbsp;</td>
                    <td><input type="text" ng-model="unit1.code" ng-change="changeCode(unit1.code)"></td>
                    <td>&nbsp;</td>
                    <td><input type="text" ng-model="unit2.code" ng-change="changeCode(unit2.code)"></td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td><span class="disabled">{{originalUnit.area}}</span></td>
                    <td class="symbol">=</td>
                    <td><input type="number" ng-model="unit1.area" ng-change="changeArea()" min="1" max="{{originalUnit.area -1}}"></td>
                    <td class="symbol">+</td>
                    <td><input type="number" ng-model="unit2.area" ng-disabled="true"></td>
                </tr>
                <tr>
                    <td>Show Area</td>
                    <td><input type="checkbox" ng-model="originalUnit.isShowArea" ng-disabled="true"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit1.isShowArea"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit2.isShowArea"></td>
                </tr>
                <tr>
                    <td>Headcount</td>
                    <td><span class="disabled">{{originalUnit.seat}}</span></td>
                    <td class="symbol">=</td>
                    <td><input type="number" ng-model="unit1.seat" ng-change="changeSeat()" min="1" max="{{originalUnit.seat -1}}"></td>
                    <td class="symbol">+</td>
                    <td><input type="number" ng-model="unit2.seat" ng-disabled="true"></td>
                </tr>
                <tr>
                    <td>Show Headcount</td>
                    <td><input type="checkbox" ng-model="originalUnit.isShowSeat" ng-disabled="true"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit1.isShowSeat"></td>
                    <td>&nbsp;</td>
                    <td><input type="checkbox" ng-model="unit2.isShowSeat"></td>
                </tr>
                <tr>
                    <td>Density</td>
                    <td><span class="disabled">{{(originalUnit.area / originalUnit.seat) | number:0}} {{organization.measurementUnit}}/head</span></td>
                    <td>&nbsp;</td>
                    <td><span class="disabled">{{(unit1.area / unit1.seat) | number:0}} {{organization.measurementUnit}}/head</span></td>
                    <td>&nbsp;</td>
                    <td><span class="disabled">{{(unit2.area / unit2.seat) | number:0}} {{organization.measurementUnit}}/head</span></td>
                </tr>
                <tr>
                    <td>Fill</td>
                    <td>
                        <input type="color" ng-model="originalUnit.fill.startColor" ng-disabled="true"> &ndash;
                        <input type="color" ng-model="originalUnit.fill.endColor" ng-disabled="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit1.fill.startColor"> &ndash;
                        <input type="color" ng-model="unit1.fill.endColor">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit2.fill.startColor"> &ndash;
                        <input type="color" ng-model="unit2.fill.endColor">
                    </td>
                </tr>
                <tr>
                    <td>Font</td>
                    <td>
                        <input type="color" ng-model="originalUnit.font.color" ng-disabled="true">
                        <input type="text" ng-model="originalUnit.font.fontSize" class="font" ng-disabled="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit1.font.color">
                        <input type="text" ng-model="unit1.font.fontSize" class="font">
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <input type="color" ng-model="unit2.font.color">
                        <input type="text" ng-model="unit2.font.fontSize" class="font">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>