<div class="action">
    <select name="measurement-unit" ng-model="measurementUnit" ng-change="changeMeasurementUnit(measurementUnit)">
        <option ng-repeat="unit in measurementUnits" value="{{unit.title}}">{{unit.title}}</option>
    </select>
</div>

<div class="action"
     ng-class="{'disabled': viewMode=='units' || viewMode=='buildings'}"
     ng-click="changeRatio('in')"
     title="Zoom in"><img src="assets/images/tools/zoomin.png"></div>

<div class="action"
     ng-class="{'disabled': viewMode=='units' || viewMode=='buildings'}"
     ng-click="changeRatio('out')"
     title="Zoom out"><img src="assets/images/tools/zoomout.png"></div>

<div class="action"
     ng-class="{'disabled': history.undoStack.length<=1}"
     ng-click="undo()"
     title="Undo"><img src="assets/images/tools/undo.png"></div>

<div class="action"
     ng-class="{'disabled': history.redoStack.length==0}"
     ng-click="redo()"
     title="Redo"><img src="assets/images/tools/redo.png"></div>

<div class="action"
     ng-click="toggleActions()"
     title="Options">
    <img src="assets/images/tools/more.png">

    <div class="actions-container" ng-if="isActionsVisible">
        <div class="action"
             ng-click="goToHome()"
             title="Go To Projects"><img src="assets/images/tools/home.png"> Projects
        </div>

        <div class="action"
             ng-click="save()"
             title="Save"><img src="assets/images/tools/save.png"> Save
        </div>

        <div class="action"
             ng-click="saveAs()"
             title="Save As"><img src="assets/images/tools/saveas.png"> Save As
        </div>

        <div class="action"
             ng-click="reload()"
             title="Reload"><img src="assets/images/tools/reload.png"> Reload
        </div>

        <div class="action"
             ng-click="export()"
             title="Export"><img src="assets/images/tools/export.png"> Export
        </div>

        <div class="action"
             ng-click="import()"
             title="Import"><img src="assets/images/tools/import.png"> Import
        </div>

        <div class="action"
             ng-click="capture()"
             title="Capture Screen"><img src="assets/images/tools/capture.png"> Capture
        </div>

        <div class="action"
             ng-click="logout()"
             title="Logout"><img src="assets/images/tools/logout.png"> Logout
        </div>

    </div>
</div>